leads-to-notion-dev-RrucsIjws0YOMdtV.json
{"createdAt":"2025-06-30T12:48:54.068Z","updatedAt":"2025-06-30T20:52:18.000Z","id":"RrucsIjws0YOMdtV","name":"Leads to Notion Dev","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Adding a new lead to Notion & Google Sheets","height":520,"width":1660,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-220,-220],"typeVersion":1,"id":"54e1a053-cc0d-4de9-a642-2474f95cb706","name":"Sticky Note3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY","mode":"list","cachedResultName":"Kraca Dev","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY/edit#gid=1492369066"},"columns":{"mappingMode":"defineBelow","value":{"Имя":"={{ $json.name }}","Время получения":"={{ DateTime.fromISO($json.property_created_time ).setZone('Europe/Moscow').toFormat('dd.MM.yyyy HH:mm:ss') }}","Телефон WhatsApp":"={{ $json.phone }}","Регион покрытия":"={{ $json.region }}","Флагманская услуга/продукт?":"={{ $json.offer }}","Желаемое количество клиентов":"={{ $json.clients }}","Конкурентное преимущество":"={{ $json.utp }}","Точка роста":"={{ $json.growth }}","NotionPageId":"={{ $json.id }}","Статус":"={{ $json.property_status }}","Срочность":"={{ $json.priority }}","Анкета":"=Клиент: {{ $json.name }}","rowNumber":"==ROW()","strategyGPT":"="},"matchingColumns":[],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[940,-160],"id":"3157fbb6-afe2-40f0-a197-f68d836b9ba3","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"# Assign Manager","height":700,"width":1960,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-80,340],"typeVersion":1,"id":"a345374f-8a29-473f-b783-d893dfe51d25","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"4ae8ed84-8ef5-493c-90e1-a8b8e0875a9c","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"number"},{"id":"a2fe98ac-8a73-442a-b469-0bcfce2a369e","name":"newManager","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"8d86f000-54f6-4450-9f76-d3e7a5cf7d70","name":"MasterItemId","value":"={{ $json.NotionPageId }}","type":"string"},{"id":"a131b2c4-7962-4bb7-ad15-fb9646170946","name":"Segment","value":"={{ $json['Сегмент'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,960],"id":"6f1ab719-180a-4a28-8919-ab83c9f6a84c","name":"Extract Sheet Data"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.MasterItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[380,1200],"id":"f4bbcc76-e44a-4943-bbbb-3ff4838c8f3d","name":"Get Master Page","executeOnce":false,"retryOnFail":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8ea8afbe-0e30-43d2-85bf-b44375466e9d","name":"oldManagerName","value":"={{ $json.property_manager || \"\"}}","type":"string"},{"id":"1414feb2-6604-41f5-93f5-7006fe31a738","name":"oldManagerItemId","value":"={{ $json.property_manager_item_id }}","type":"string"},{"id":"35381856-d1a4-4be6-b7d6-1e4710ab0bb4","name":"masterName","value":"={{ $json.property_ }}","type":"string"},{"id":"c0323155-2ade-45d7-a8f2-658fa7962925","name":"masterStatus","value":"={{ $json.property_status }}","type":"string"},{"id":"d27e257e-eeb1-41fc-a5ec-e593b51251c3","name":"masterRowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"9f3fad63-3d45-4343-ae1b-43c0d90c9b9e","name":"masterPhone","value":"={{ $json.property_whats_app }}","type":"string"},{"id":"57f23b13-6193-45f9-8f5e-421c990d6f7a","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"f84aad37-9eaf-4517-8cac-1d60c6360893","name":"newManager","value":"={{ $('Extract Sheet Data').item.json.newManager }}","type":"string"},{"id":"ed9f6ef6-e7c0-4333-a983-14006a281b97","name":"Segment","value":"={{$('Extract Sheet Data').item.json.Segment}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,1200],"id":"1f2f69d0-77c9-4130-bd19-0b1dccdcfa6b","name":"Extract master properties"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $('Extract master properties').item.json.newManager }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1000,1200],"id":"efc983e5-d4a6-4288-bc98-c705e8eff9bc","name":"Get Manager DB ID","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2577b69-ac33-45a0-9d4b-f4770fb22707","leftValue":"={{ $json.oldManagerName }}","rightValue":"={{ $json.newManager }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,1200],"id":"152bf143-0c30-4f76-963d-28c614832d5d","name":"Changed?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f571a60-d212-4168-ac74-d67af86a1957","leftValue":"={{ $json.newManager }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,840],"id":"b50befa8-d25f-482f-9dea-451933c90dd3","name":"NewManagerExists"},{"parameters":{"assignments":{"assignments":[{"id":"891c9573-8c76-45e3-9cca-cb5382d93859","name":"newManagerDatabaseId","value":"={{ $json.property_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,1200],"id":"3dd878b8-eb32-49f0-87a1-ab3b8b63b795","name":"newManagerDatabaseId"},{"parameters":{"content":"Initial Assignment\n","height":340,"width":900},"type":"n8n-nodes-base.stickyNote","position":[1600,1100],"typeVersion":1,"id":"8f260b46-0cf7-487a-8c77-58fe0df6cfeb","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf7cc75d-f7d7-4ed5-b089-198a5ab950da","leftValue":"={{ $('Changed?').item.json.oldManagerName }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,1200],"id":"ef86fcdb-9217-4441-b248-f3d20222da86","name":"Initial vs Reassign"},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,1180],"id":"05cd6280-9f5f-4877-9404-ac7227e6b52a","name":"NewManagerItemId"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Extract master properties').item.json.newManager }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1940,1180],"id":"5a7a81e2-3c3d-42e9-a722-61748964bef2","name":"Update NewManagerItemId -> MasterDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1660,1180],"id":"712a6ff6-39ea-47dc-aed1-ab16e4f2e8c0","name":"Write new page to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $('Write new page to Manager_DB1').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1600],"id":"1b14157c-d71b-46b5-b9f9-0de45f91748a","name":"NewManagerItemId1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Write new page to Manager_DB1').item.json.property_master_item_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Get Manager DB ID').item.json.name }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2240,1600],"id":"1bab080b-9503-42aa-9e44-0b064e92a844","name":"Update NewManagerItemId -> MasterDB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1720,1500],"id":"f84a90cc-e90e-44f4-b459-ea09524687b5","name":"Write new page to Manager_DB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"archive","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.oldManagerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1940,1600],"id":"02bad82f-2c22-4181-bb55-2e18f6f4a86c","name":"Notion","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Re-assignment\n","height":300,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1600,1440],"typeVersion":1,"id":"9c4a224c-51cf-4996-a964-ab6f622661f4","name":"Sticky Note6"},{"parameters":{"content":"# a. Google Sheets → Master → Manager","height":440,"width":1900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,2120],"id":"3a6fe980-9285-40eb-b345-0f8f661b1309","name":"Sticky Note7"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"event":"rowUpdate","options":{"columnsToWatch":["Статус"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[420,2220],"id":"5113b0a4-7204-4825-9a7d-8a2207dd8daa","name":"Google Sheets Trigger2","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ec8bd23-33f6-4f06-855f-5e831604cc97","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"1a2f2572-008b-4ab2-a815-d4ca3c4a191f","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"},{"id":"31b01e38-3e8b-4a8b-bcee-4f2f6855b8eb","name":"masterPageId","value":"={{ $json.NotionPageId }}","type":"string"},{"id":"20e3ae07-f6a6-493b-bcdc-2ec407286ec4","name":"Segment","value":"={{ $json[\"Сегмент\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1140,2220],"id":"dfcac4ed-702a-472d-a68a-9678cfcd0c63","name":"Extract Data","executeOnce":false},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.masterPageId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1380,2220],"id":"e216dac9-9593-4a05-9364-126f990f4f10","name":"Notion1","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"48932d1f-7c93-433b-b9d2-d4998556e0aa","name":"masterItemId","value":"={{ $('Notion1').item.json.id }}","type":"string"},{"id":"b674d56e-e8b6-4853-9d42-ac96a7749da3","name":"managerItemId","value":"={{ $('Notion1').item.json.property_manager_item_id }}","type":"string"},{"id":"6446769d-b89c-408d-a24b-935bf0385207","name":"rowIndex","value":"={{ $('Notion1').item.json.property_row_index }}","type":"string"},{"id":"9e6da255-10d0-4462-ac45-c79155b2deba","name":"newStatus","value":"={{ $('Extract Data').item.json.sheetStatus}}","type":"string"},{"id":"26b31eba-8699-421a-8656-44728e6ebb8b","name":"newSegment","value":"={{ $('Extract Data').item.json.Segment}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,2220],"id":"6e4a178d-fb11-483d-8ea7-3f0860f88e36","name":"Prepare"},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2140,2260],"id":"4682ac6a-41bf-48e2-a6a5-0c4c9305086f","name":"Execute Workflow"},{"parameters":{"content":"# b. Manager DB -> Master -> Sheets","height":500,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,2660],"id":"4a6cf0a3-8eb7-494d-a958-18efa28cdcd3","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[620,2840],"id":"a7d47ff5-ebfe-4ff0-8abe-f9d1c71f3c3b","name":"Merge1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[420,2740],"id":"a36fa25e-9535-4418-b97d-fefa52854083","name":"PageUpdatedManager_1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[420,2940],"id":"fb5a8980-7bf6-4a12-af7f-10b8c028b729","name":"PageUpdatedManager_2","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"0bf7d5c0-0a8f-4f0c-892b-c487cc1d28df","name":"managerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,2840],"id":"4f400fa8-c983-4b24-8cb6-f473aded1712","name":"Extract Change1"},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1080,2840],"id":"c0b8b7ea-028b-4d76-a7bc-b2046e8fc00c","name":"Execute Workflow1"},{"parameters":{"content":"# c. Master DB -> Manager DB & Sheets","height":580,"width":1860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,3240],"id":"708de537-9f34-4fee-8dd5-f89375dfe1ff","name":"Sticky Note9","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[400,3520],"id":"9681250f-aa7c-45b1-855f-e7c18296e238","name":"Notion Trigger","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Extract Data1').item.json.rowIndex }}","Статус":"={{ $('Extract Data1').item.json.newStatus }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1400,3280],"id":"a866bdda-b605-417e-9568-21c0c60c75b3","name":"Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"237d9dd0-d9d9-4998-8e43-d23bebd23849","name":"masterPageId","value":"={{ $json.id }}","type":"string"},{"id":"f985405d-e012-47aa-bafb-7b291b204498","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"f6af24a1-471c-4335-ae8a-97b5dfd8a275","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"20be24b5-68aa-45fb-8134-e08b63187032","name":"managerItemId","value":"={{ $json.managerItemId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,3520],"id":"cf440aba-e02f-4355-bfe5-db96684a7233","name":"Extract Data1","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,3400],"id":"f2089c29-9658-470d-99de-40a3d6c4d417","name":"Extract Sheets Data","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7cbd6412-5683-4757-8f56-0311155f8add","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,3400],"id":"5770129f-d76b-4f52-bfa7-3d82a9f745cf","name":"Extract Sheets Status","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5234b483-f1b3-4640-a82c-d33a9179e63b","leftValue":"={{ $json.sheetStatus }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,3400],"id":"6c821d22-6ecb-43eb-849c-2535ca6e252a","name":"Check Statuses","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cfef104-9f6c-4057-b0e0-503eb8b9e966","leftValue":"={{ $json.managerItemId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,3440],"id":"7193519f-ceb3-4068-8bfa-fe771cf0b38c","name":"Exists in Manager DB?","disabled":true},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.managerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1580,3440],"id":"6d22aa76-1999-44a8-8330-9b1bfc82c3a5","name":"Retrieve data from ManagerDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf2c6497-394c-4e31-9137-18af91057e66","leftValue":"={{ $json.property_status }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1740,3440],"id":"245fe673-c959-473a-8bed-13ea0b4854e4","name":"Check Old != New","disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $('Extract Data1').item.json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1960,3420],"id":"2bbc5ada-3e69-44d3-9f29-bd049d8df5cd","name":"Update Manager DB Status","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"content":"# SYNC BLOCK","height":1900,"width":2080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,2000],"id":"50c0dd31-c65e-4ef0-8139-97e0ddcc5130","name":"Sticky Note10"},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{$json.id}}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Notion-Version\": \"2022-06-28\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2700,1340],"id":"08523283-0878-495c-8a74-96f9f3e09e7f","name":"HTTP Request","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"909e4630-950a-439a-81f2-9a3662b02fa8","name":"plain_text","value":"={{ $json.results[0].paragraph.rich_text[0].plain_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2840,1340],"id":"66bf1d99-60a9-4468-9547-8e2377e12447","name":"Retrieve Page Content"},{"parameters":{"jsCode":"// Получаем весь текст из входящих данных\nconst text = items[0].json.plain_text;\n\n// Разбиваем по переносу строки (учитывает \\n и \\r\\n)\nconst lines = text.split(/\\r?\\n/);\n\n// Ищем строку, начинающуюся с \"Регион покрытия:\"\nlet region = null;\nfor (const line of lines) {\n  const match = line.match(/^Регион покрытия:\\s*(.+)$/);\n  if (match) {\n    region = match[1].trim();\n    break;\n  }\n}\n\n// Отдаём новый объект с извлечённым регионом\nreturn [{\n  json: {\n    regionCoverage: region\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,1220],"id":"874fa984-be9a-4eea-aa51-e6e7541ddad2","name":"Code2"},{"parameters":{"url":"http://api.geonames.org/searchJSON","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"name\": \"{{ $json.regionCoverage }}\",\n  \"featureClass\": \"P\",\n  \"maxRows\": 1,\n  \"username\": \"Dahaka_ii\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,1220],"id":"779bfb8b-6f9c-4b6a-b6cf-3c550921aafa","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"fb7333db-8222-4330-b7a3-ffa44450bc3c","name":"geonames[0].population","value":"={{ $json.geonames[0].population }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3220,1220],"id":"1939aa75-873a-49d9-9fa0-683260c623a2","name":"Edit Fields2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"<systemPrompt model=\"gpt-4o-mini\" language=\"ru\">\n  <!-- \n    Системный промпт для GPT-4o Mini.\n    Генерирует коммерческие предложения для мастеров красоты по заданному шаблону. \n  -->\n  <metadata>\n    <version>1.0</version>\n    <author>n8n-GPT Интеграция</author>\n  </metadata>\n\n  <role>system</role>\n  <description>\n    <![CDATA[\n    Ты — система автоматизации генерации коммерческих предложений для мастеров красоты. \n    Используй входные данные от клиента, чтобы создать персонализированное коммерческое предложение.\n    Входные данные:\n      • Город: {город}\n      • Население: {население} (пример: для Ставрополя – 562 964 чел.)\n      • Флагманские услуги: {услуги} (перечислены через запятую)\n      • Желаемое количество клиентов: {количество клиентов}\n      • Уровень срочности разработки: {уровень срочности}\n      • Ключевые характеристики: {конкурентное преимущество, точка роста}\n\n    Формула для расчёта частоты запросов:\n      На 100 000 населения приходится 500 запросов.  \n      Частота запросов = (население / 100000) * 500.\n\n    Сформируй коммерческое предложение следующим образом:\n\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n      {услуга 1} – {рассчитанная частота запросов 1} шт/мес\n      {услуга 2} – {рассчитанная частота запросов 2} шт/мес\n      {услуга 3} – {рассчитанная частота запросов 3} шт/мес\n      … (перечисляйте так же для всех указанных услуг)\n\n    (Без учёта околотематик. Спрос есть, результат есть.)\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n\n    Ниже прикрепляю пример уже готового отчёта – возьмите его за пример, не отходите от него и не добавляйте от себя ничего!\n    ]]>\n  </description>\n\n  <!-- Определение входных полей -->\n  <inputs>\n    <field name=\"город\"        type=\"string\" description=\"Название города\" />\n    <field name=\"население\"    type=\"number\" description=\"Численность населения\" />\n    <field name=\"услуги\"       type=\"array\"  description=\"Список флагманских услуг\" />\n    <field name=\"клиентов\"     type=\"integer\" description=\"Желаемое число клиентов\" />\n    <field name=\"срочность\"     type=\"string\" description=\"Уровень срочности разработки\" />\n    <field name=\"характеристики\" type=\"string\" description=\"Конкурентные преимущества и точки роста\" />\n  </inputs>\n\n  <!-- Формула расчёта -->\n  <calculations>\n    <formula name=\"частотаЗапросов\">\n      <![CDATA[\n        (население / 100000) * 500\n      ]]>\n    </formula>\n  </calculations>\n\n  <!-- Шаблон выходного ответа -->\n  <outputTemplate>\n    <![CDATA[\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n    {услуга 1} – {частотаЗапросов(услуга 1)} шт/мес\n    {услуга 2} – {частотаЗапросов(услуга 2)} шт/мес\n    …\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n    ]]>\n  </outputTemplate>\n\n  <!-- Рекомендации по параметрам модели -->\n  <modelSettings>\n    <temperature>0.3</temperature>\n    <maxTokens>1200</maxTokens>\n    <topP>1.0</topP>\n    <frequencyPenalty>0.2</frequencyPenalty>\n    <presencePenalty>0.0</presencePenalty>\n  </modelSettings>\n</systemPrompt>\n","role":"system"},{"content":"={{ $('Retrieve Page Content').item.json[\"plain_text\"] || \"\" }}"}]},"options":{"maxTokens":1024,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3480,1340],"id":"0bf61956-f922-49e4-ae32-b0ed9b5784d1","name":"Generate Comment","credentials":{"openAiApi":{"id":"xIoIQD1YApmoxCg1","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('HTTP Request').item.json.results[0].parent.page_id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3800,1340],"id":"7d6ccb0a-9ce9-4b9c-8b18-d7a16c5ce024","name":"Prepare Payload"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3940,1340],"id":"9c414627-797a-49fb-b776-511a6a4c44ce","name":"Post Notion Comment","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $json.parent.page_id }}","strategyGPT":"={{$json.rich_text}}"},"matchingColumns":["NotionPageId"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3940,1480],"id":"8747e995-84a9-4ec7-9887-4c8625b5edc1","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4140,1700],"id":"a3498dcf-b9bf-4894-ab2c-6b30f0701cd4","name":"Post Notion Comment1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3960,1700],"id":"8c8fa9d3-34ee-4380-81de-c898fbfcd8ca","name":"Prepare Payload1"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,1460],"id":"20e48e54-f936-499b-952c-bd0a61c99b9b","name":"Post Notion Comment3","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB1').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1460],"id":"b6223486-3fcc-4961-8f03-cb8f28812474","name":"Prepare Payload3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3340,1340],"id":"6b6a8720-35aa-4138-bf1f-67d520c6a46a","name":"Merge2"},{"parameters":{"content":"# GPT Strategy","height":580,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2540,1100],"typeVersion":1,"id":"d4f2b438-3544-497b-a583-eaacd0a93a9e","name":"Sticky Note11","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5d0166b9-47c6-49ff-8266-29aaea5bdfc0","name":"chatId","value":"={{ $json.property_chat_id }}","type":"string"},{"id":"3700230c-9624-4a77-97ff-e2b58b0d096d","name":"masterPhone","value":"={{ $('Google Sheets Trigger1').item.json['Телефон WhatsApp'] }}","type":"string"},{"id":"1f0a471d-cdf2-41e3-8da6-e87ff66a9a9c","name":"formData","value":"={{ $(\"Google Sheets Trigger1\").item.json[\"Анкета\"] }}","type":"string"},{"id":"7df16021-5857-4fcf-a761-54b6fe9ac951","name":"commentText","value":"={{ $('Google Sheets Trigger1').item.json.strategyGPT }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,1580],"id":"c8f6202b-738f-4b9d-9f17-c7e15ae978c3","name":"Prepare Telegram Data","executeOnce":false},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=📌 *Новая заявка*\n\n📝 *Данные анкеты*:\n{{ $json.formData }}\n\n💡 *Комментарий GPT*:","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1480,1580],"id":"dae89df2-fcd0-4e07-a3d4-ae3a3f196cff","name":"Telegram","webhookId":"c2891006-8345-4d47-a2dd-4603f3a636a6","executeOnce":true,"credentials":{"telegramApi":{"id":"y3cJ0RcFuvjBerIv","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"event":"rowUpdate","options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-260,1280],"id":"9d499a2a-f99d-49a0-954a-5ed503ef705d","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"33c7282c-f682-4ff2-8801-50681086fe71","leftValue":"={{ $json['Время получения'] }}","rightValue":"={{ \"\" }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[640,2220],"id":"ff54cfda-dc95-4d14-a532-3acf077cdfac","name":"Filter"},{"parameters":{"batchSize":20,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,2220],"id":"2b58464a-810a-4d08-9266-ce0163483a71","name":"Loop Over Items1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extract Data').item.json.sheetStatus }}","rightValue":"={{ $json.property_status }}","operator":{"type":"string","operation":"notEquals"},"id":"df67706c-b940-4b39-81e4-2cd6591b70a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Status Changed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e0a3380-f95a-4a34-ad4e-0f3646d51f31","leftValue":"={{ $('Extract Data').item.json.sheetStatus }}","rightValue":"={{ $json.property_status }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Status Not Changed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1640,2300],"id":"3153b0e4-cabc-45db-84e7-5e3c17203e45","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"lead-submit-dev","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,80],"id":"a487046e-2982-4c25-aaca-d10c62c96bfb","name":"Webhook from form","webhookId":"64b1b015-546e-4d01-a91d-eb2ba7421199","notesInFlow":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2221740c-685e-81cc-be8e-fa1e2ceb28c2","mode":"list","cachedResultName":"Все лиды Dev","cachedResultUrl":"https://www.notion.so/2221740c685e81ccbe8efa1e2ceb28c2"},"title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Новая заявка (с чата)"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json.phone }}"},{"key":"region|rich_text","textContent":"={{ $json.region }}"},{"key":"offer|rich_text","textContent":"={{ $json.offer }}"},{"key":"utp|rich_text","textContent":"={{ $json.utp }}"},{"key":"growth|rich_text","textContent":"={{ $json.growth }}"},{"key":"clients|rich_text","textContent":"={{ $json.clients }}"},{"key":"priority|rich_text","textContent":"={{ $json.priority }}"}]},"blockUi":{"blockValues":[{"type":"heading_2","textContent":"💡 Новый лид!"},{"textContent":"=👤 Имя: {{ $json.name }}"},{"textContent":"=📞 Телефон: {{ $json.phone }}"},{"type":"heading_2","textContent":"📝 Детали заявки"},{"type":"bulleted_list_item","textContent":"=💼 Что предлагает: {{ $json.offer }}"},{"type":"bulleted_list_item","textContent":"=💎 УТП: {{ $json.utp }} "},{"type":"bulleted_list_item","textContent":"=📈 Точка роста: {{ $json.growth }}"},{"type":"bulleted_list_item","textContent":"=🎯 Желает клиентов: {{ $json.clients }}"},{"type":"bulleted_list_item","textContent":"=🔥 Скорость/приоритет: {{ $json.priority }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[520,0],"id":"6fec6137-2a04-4412-852c-fba529c2eac7","name":"Add to Database","alwaysOutputData":true,"credentials":{"notionApi":{"id":"g3reqTvQcSQZiord","name":"Automation Malevich"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7210bbf6-0d61-4193-8bf2-46fa05583e58","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,0],"id":"2c0c95e2-2966-4a35-a42b-f751eca68d48","name":"If added Notion"},{"parameters":{"chatId":"448454530","text":"=❌Error: ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,80],"id":"25cb9e10-6b39-4c60-a4ce-5d9844b0c1be","name":"Error not added Notion","webhookId":"68866b0c-f174-4598-baae-c55b44395093","credentials":{"telegramApi":{"id":"ZdVOsDjF7CJoUmXG","name":"iKracaBot"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[700,-160],"id":"253668e2-9aea-4e6b-9b7e-d536987713bb","name":"Merge4"},{"parameters":{"chatId":"448454530","text":"=Error\nОшибка добавления лида в Notion","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1160,80],"id":"71d59367-dad7-46eb-81bd-7041605d33cf","name":"Error not added Notion1","webhookId":"68866b0c-f174-4598-baae-c55b44395093","credentials":{"telegramApi":{"id":"ZdVOsDjF7CJoUmXG","name":"iKracaBot"}}},{"parameters":{"content":"## Errors","height":220,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,20],"id":"9905ebac-924f-447a-899e-32d9e3ab055b","name":"Sticky Note12"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY","mode":"list","cachedResultName":"Kraca Dev","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZbFufwRooNhNtLKYtQLqOIiOWtB7wNwfTUb6SMdLwyY/edit#gid=1492369066"},"event":"rowUpdate","options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,440],"id":"05a3a538-f671-4e34-86d0-7bf17add3628","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f571a60-d212-4168-ac74-d67af86a1957","leftValue":"={{ $json.newManager }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,440],"id":"7bbd58dd-1141-4e59-a36f-e0d841a8fa92","name":"NewManagerExists1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[280,0],"id":"ba4306fa-49c1-49dd-93c4-f3d3d17a9379","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"sheets","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,-80],"id":"f61d0d48-eac3-4998-aac6-b3a85908e1fe","name":"Webhook from sheets","webhookId":"8fccd315-8996-4e5a-83ab-41bda45f60fd"},{"parameters":{"assignments":{"assignments":[{"id":"d1b279f2-d221-4ec3-a949-54803394dc15","name":"name","value":"={{ $json.body.data[6].value }}","type":"string"},{"id":"a27020e1-e6c6-48dd-ac5f-b84c5c1f3cb9","name":"region","value":"={{ $json.body.data[3].value }}","type":"string"},{"id":"d7ff8563-b305-4fe7-b826-bd9d867645fa","name":"date","value":"={{ $now.setZone('Europe/Moscow').toFormat('dd.MM.yyyy HH:mm:ss') }}","type":"string"},{"id":"2512c991-71cc-4614-8c3b-d812f06e8e60","name":"phone","value":"={{ $json.body.data[2].value }}","type":"string"},{"id":"e029856e-b467-45fa-972a-36a81722da40","name":"offer","value":"={{ $json.body.data[4].value }}","type":"string"},{"id":"51c073d1-07dd-4aa0-a77f-d3101d08a63b","name":"utp","value":"={{ $json.body.data[0].value }}","type":"string"},{"id":"5df1ffca-e511-414f-b335-7b1ff5e50d36","name":"growth","value":"={{ $json.body.data[1].value }}","type":"string"},{"id":"f717e15b-1504-4bcd-afd2-cb7b767ae014","name":"priority","value":"={{ $json.body.data[7].value }}","type":"string"},{"id":"3b7e9de4-8abe-4a9b-aac3-c690d3cbfb7c","name":"clients","value":"={{ $json.body.data[5].value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,80],"id":"1d45dc54-31af-4213-be16-93fb43ddca34","name":"Prepare data from quiz"},{"parameters":{"assignments":{"assignments":[{"id":"d1b279f2-d221-4ec3-a949-54803394dc15","name":"name","value":"={{ $json.body.name }}","type":"string"},{"id":"a27020e1-e6c6-48dd-ac5f-b84c5c1f3cb9","name":"region","value":"={{ $json.body.region }}","type":"string"},{"id":"d7ff8563-b305-4fe7-b826-bd9d867645fa","name":"date","value":"={{ $now.setZone('Europe/Moscow').toFormat('dd.MM.yyyy HH:mm:ss') }}","type":"string"},{"id":"2512c991-71cc-4614-8c3b-d812f06e8e60","name":"phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"51c073d1-07dd-4aa0-a77f-d3101d08a63b","name":"utp","value":"={{ $json.body.utp }}","type":"string"},{"id":"5df1ffca-e511-414f-b335-7b1ff5e50d36","name":"growth","value":"={{ $json.body.growth }}","type":"string"},{"id":"f717e15b-1504-4bcd-afd2-cb7b767ae014","name":"priority","value":"={{ $json.body.priority }}","type":"string"},{"id":"3b7e9de4-8abe-4a9b-aac3-c690d3cbfb7c","name":"clients","value":"={{ $json.body.clients }}","type":"string"},{"id":"4681b927-20f1-4d47-a224-d160db4cd6ac","name":"offer","value":"={{ $json.body.offer }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-80],"id":"60cf8da9-c3bc-4f27-8a2b-3e717618759f","name":"Prepare data from sheets"}],"connections":{"Google Sheets1":{"main":[[],[{"node":"Error not added Notion1","type":"main","index":0}]]},"Extract Sheet Data":{"main":[[{"node":"NewManagerExists","type":"main","index":0}]]},"Get Master Page":{"main":[[{"node":"Extract master properties","type":"main","index":0}]]},"Extract master properties":{"main":[[{"node":"Changed?","type":"main","index":0}]]},"Get Manager DB ID":{"main":[[{"node":"newManagerDatabaseId","type":"main","index":0},{"node":"Prepare Telegram Data","type":"main","index":0}]]},"Changed?":{"main":[[{"node":"Get Manager DB ID","type":"main","index":0}]]},"NewManagerExists":{"main":[[{"node":"Get Master Page","type":"main","index":0}]]},"newManagerDatabaseId":{"main":[[{"node":"Initial vs Reassign","type":"main","index":0}]]},"Initial vs Reassign":{"main":[[{"node":"Write new page to Manager_DB","type":"main","index":0}],[{"node":"Write new page to Manager_DB1","type":"main","index":0}]]},"NewManagerItemId":{"main":[[{"node":"Update NewManagerItemId -> MasterDB","type":"main","index":0}]]},"Write new page to Manager_DB":{"main":[[{"node":"NewManagerItemId","type":"main","index":0}]]},"Update NewManagerItemId -> MasterDB":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"NewManagerItemId1":{"main":[[{"node":"Update NewManagerItemId -> MasterDB1","type":"main","index":0}]]},"Write new page to Manager_DB1":{"main":[[{"node":"Notion","type":"main","index":0},{"node":"Prepare Payload3","type":"main","index":0}]]},"Notion":{"main":[[{"node":"NewManagerItemId1","type":"main","index":0}]]},"Google Sheets Trigger2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"PageUpdatedManager_2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"PageUpdatedManager_1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Extract Change1","type":"main","index":0}]]},"Extract Change1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Notion Trigger":{"main":[[{"node":"Extract Data1","type":"main","index":0}]]},"Extract Data1":{"main":[[{"node":"Extract Sheets Data","type":"main","index":0}]]},"Extract Sheets Data":{"main":[[{"node":"Extract Sheets Status","type":"main","index":0}]]},"Extract Sheets Status":{"main":[[{"node":"Check Statuses","type":"main","index":0}]]},"Check Statuses":{"main":[[{"node":"Status Update","type":"main","index":0},{"node":"Exists in Manager DB?","type":"main","index":0}]]},"Exists in Manager DB?":{"main":[[{"node":"Retrieve data from ManagerDB","type":"main","index":0}]]},"Retrieve data from ManagerDB":{"main":[[{"node":"Check Old != New","type":"main","index":0}]]},"Check Old != New":{"main":[[{"node":"Update Manager DB Status","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Retrieve Page Content","type":"main","index":0}]]},"Retrieve Page Content":{"main":[[{"node":"Code2","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Code2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Generate Comment":{"main":[[{"node":"Prepare Payload","type":"main","index":0}]]},"Prepare Payload":{"main":[[{"node":"Post Notion Comment","type":"main","index":0},{"node":"Google Sheets3","type":"main","index":0},{"node":"Prepare Payload1","type":"main","index":0}]]},"Prepare Payload1":{"main":[[{"node":"Post Notion Comment1","type":"main","index":0}]]},"Prepare Payload3":{"main":[[{"node":"Post Notion Comment3","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Generate Comment","type":"main","index":0}]]},"Prepare Telegram Data":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Extract Sheet Data","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Prepare","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Extract Data","type":"main","index":0}]]},"Webhook from form":{"main":[[{"node":"Prepare data from quiz","type":"main","index":0}]]},"Add to Database":{"main":[[{"node":"If added Notion","type":"main","index":0}]]},"If added Notion":{"main":[[{"node":"Merge4","type":"main","index":1}],[{"node":"Error not added Notion","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"NewManagerExists1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge4","type":"main","index":0},{"node":"Add to Database","type":"main","index":0}]]},"Webhook from sheets":{"main":[[{"node":"Prepare data from sheets","type":"main","index":0}]]},"Error not added Notion":{"main":[[]]},"Prepare data from quiz":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Prepare data from sheets":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48d39bee-3bc9-4ea9-9f24-7416067d5736","triggerCount":0,"tags":[{"createdAt":"2025-06-16T13:27:47.896Z","updatedAt":"2025-06-16T13:27:47.896Z","id":"ZJAdwf6GKEChRG5R","name":"testing"}]}