leads-to-notion-frhD4OwCOOd3rWQi.json
{"createdAt":"2025-06-16T13:20:37.040Z","updatedAt":"2025-06-18T11:53:17.000Z","id":"frhD4OwCOOd3rWQi","name":"Leads to Notion","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-submit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,0],"id":"2fe9a86f-fb17-4de8-bdfb-f186a2b1b3ab","name":"Webhook","webhookId":"23b74cfc-aa6d-4b1f-b93a-b1d53e5faca8","notesInFlow":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,0],"id":"2cad08c9-d7be-4a6d-86a6-1a96b96ec14b","name":"Code","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Jz6QwLxzVNgkN9Iqelh0JTn25UlblPYdnXkBGAI8Gv4","mode":"list","cachedResultName":"Копия редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jz6QwLxzVNgkN9Iqelh0JTn25UlblPYdnXkBGAI8Gv4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":313326065,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jz6QwLxzVNgkN9Iqelh0JTn25UlblPYdnXkBGAI8Gv4/edit#gid=313326065"},"columns":{"mappingMode":"autoMapInputData","value":{"Дата и время":"={{ $json['Время и дата'] }}","Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Телефон":"={{ $json['Телефон'] }}","Мессенджер":"={{ $json['Мессенджер'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Дата и время","displayName":"Дата и время","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,0],"id":"7bba2c09-75b9-4319-bec7-40daa067148f","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc75bc16-14fb-45f3-ae2e-c12fa8a7cc56","leftValue":"={{ $json['Менеджер'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,340],"id":"87d9ddf9-7c78-4cb4-9f4d-dae63affb3e5","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,340],"id":"7573b512-db12-4f46-8a16-bd2f5b3263dc","name":"Edit Fields"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA","mode":"list","cachedResultName":"Копия тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"test_set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit#gid=1001057162"},"options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-340,340],"id":"23fbf8dd-7d04-44f3-aab4-116f9a11b271","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"Q0fL4BrS7iYVPy72","name":"Google Sheets Trigger account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"},{"id":"ee091279-9cb9-4352-aaa8-17d2427242e0","name":"notionStatus","value":"={{ $('Edit Fields').item.json['Статус'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,340],"id":"23f67326-e05d-4b2f-aa20-f63416ba8793","name":"Extract NotionPageId"},{"parameters":{"content":"### Google Sheets -> Notion Master Base","height":480,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[-400,220],"typeVersion":1,"id":"2afcbdfa-f0ea-4ef6-8d49-b7a124dd7d3b","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,900],"id":"22946f6a-ee79-497d-ac1e-c6502a7c8921","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"212b1023-6792-8056-81c7-d2fa496ad758","mode":"list","cachedResultName":"Master Base","cachedResultUrl":"https://www.notion.so/212b10236792805681c7d2fa496ad758"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"managerItemId|rich_text","condition":"is_empty"},{"key":"Manager|select","condition":"is_not_empty"},{"key":"=Статус|status","condition":"equals","statusValue":"Новая Заявка"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-220,900],"id":"d881a6e7-bee1-4142-8185-28b1fb135a1a","name":"Get Pages","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"assignments":{"assignments":[{"id":"f86b2a1b-3549-4f99-af93-d04a1bbd99f8","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"6be9f7fe-f749-46f0-9325-5470b148df04","name":"managerName","value":"={{ $json.property_manager }}","type":"string"},{"id":"1850081b-4556-4e63-90ed-08d30e062925","name":"rowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"cb542d87-535a-4016-825b-9a50e38512a4","name":"Статус","value":"Новая Заявка","type":"string"},{"id":"0b4814e6-ecc7-4c63-a3f8-350b8ef6664d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"d1eec5b1-aa70-4c5f-8e75-d83be3ef35d8","name":"Номер WhatsApp","value":"={{ $json.property_whats_app }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,900],"id":"0495002e-7943-4cda-a855-9f395185e235","name":"Prepare for Manager Copy"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[380,880],"id":"245a40e6-1cd8-4f4b-b19e-23380d9a42c2","name":"Merge"},{"parameters":{"fieldToSplitOut":"id, name, url, property_created_at, property_row_index, property_updated_at, property_manager, property_whats_app, property_manager_item_id, property_","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,900],"id":"b81ef616-1985-4082-a137-1f88ffd8cdac","name":"Split Out"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"215b1023-6792-8080-9e08-cce658355d37","mode":"list","cachedResultName":"Manager_1 Base","cachedResultUrl":"https://www.notion.so/215b1023679280809e08cce658355d37"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-340,1300],"id":"6e504c18-eb28-4642-b4bb-0babab4c7be7","name":"mngr1_upd","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"215b1023-6792-80d2-ab56-c713ff002560","mode":"list","cachedResultName":"Manager_2 Base","cachedResultUrl":"https://www.notion.so/215b1023679280d2ab56c713ff002560"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-340,1460],"id":"ad0fc969-2f17-4342-afd6-7a4b6fcf9b12","name":"mngr2_upd","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1380],"id":"5330957a-7b74-4f39-82b3-9d5cf51690da","name":"Extract Change"},{"parameters":{"content":"## Iteratively Add Data to Manager DB","height":460,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-480,720],"typeVersion":1,"id":"98370a7b-79c2-42ae-8d56-bb0d5b11e8ee","name":"Sticky Note1"},{"parameters":{"content":"## Update status Manager_DB -> Master_DB -> GSheets","height":420,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[-420,1240],"typeVersion":1,"id":"d46841e6-b7b1-4130-9dfa-c938038c949a","name":"Sticky Note2"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Статус|status","statusValue":"={{ $json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[240,1380],"id":"ce347a32-2fbd-410e-a6ad-1e3e7ecbf1bf","name":"Master Base Status Update","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA","mode":"list","cachedResultName":"Копия тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"test_set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"rowNumber":"={{ $json.property_row_index }}","Статус":"={{ $('Extract Change').item.json.newStatus }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[460,1380],"id":"45d4566b-1c10-4d5f-8a13-5c3bf73878a4","name":"GSheets Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"DeRwvUGG7p4JmxmH","name":"Google Sheets account Daniil"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-160,1380],"id":"93133eac-1f25-4270-aa00-e78626c6dc5c","name":"Merge Updates"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"215b1023-6792-8048-9cc0-ec29cb909077","mode":"list","cachedResultName":"Managers Directory","cachedResultUrl":"https://www.notion.so/215b1023679280489cc0ec29cb909077"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $json.managerName }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[220,780],"id":"602153a9-b07f-43c4-aad6-9022c7ac8179","name":"Get Managers ","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.property_id }}","mode":"id"},"title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Статус|status","statusValue":"={{ $json[\"Статус\"] }}"},{"key":"masterItemId|rich_text","textContent":"={{ $json.masterItemId }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json['Номер WhatsApp'] }}"},{"key":"Имя|title","title":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[540,880],"id":"be9a740d-104a-4782-8b4a-40a5fc8d58d9","name":"Add data to Manager_DB","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Merge').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"managerItemId|rich_text","textContent":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[740,880],"id":"efe11065-b2a9-4b0d-8cac-0cda06e577a0","name":"Return MasterID to Master_DB","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA","mode":"list","cachedResultName":"Копия тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"test_set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Add Data to Notion Master_DB').item.json.property_row_index }}","Статус":"={{ $json.notionStatus }}","NotionPageId":"={{ $json.notionPageId }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,340],"id":"83f35cd6-a38a-4cb1-ab68-cbcdf15af73d","name":"Return NotionPageId","credentials":{"googleSheetsOAuth2Api":{"id":"DeRwvUGG7p4JmxmH","name":"Google Sheets account Daniil"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"212b1023-6792-8056-81c7-d2fa496ad758","mode":"list","cachedResultName":"Master Base","cachedResultUrl":"https://www.notion.so/212b10236792805681c7d2fa496ad758"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Manager|select","selectValue":"={{ $json['Менеджер'] }}"},{"key":"Статус|status","statusValue":"={{ $json['Статус'] }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Номер WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[200,340],"id":"fe9c13fe-6456-474b-a4a0-6e9c6194ecf5","name":"Add Data to Notion Master_DB","credentials":{"notionApi":{"id":"moBldON4o8QoaLRK","name":"Test-Integration"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add Data to Notion Master_DB","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract NotionPageId":{"main":[[{"node":"Return NotionPageId","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Pages","type":"main","index":0}]]},"Get Pages":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prepare for Manager Copy":{"main":[[{"node":"Get Managers ","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Add data to Manager_DB","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare for Manager Copy","type":"main","index":0}]]},"mngr1_upd":{"main":[[{"node":"Merge Updates","type":"main","index":0}]]},"mngr2_upd":{"main":[[{"node":"Merge Updates","type":"main","index":1}]]},"Extract Change":{"main":[[{"node":"Master Base Status Update","type":"main","index":0}]]},"Master Base Status Update":{"main":[[{"node":"GSheets Status Update","type":"main","index":0}]]},"Merge Updates":{"main":[[{"node":"Extract Change","type":"main","index":0}]]},"Get Managers ":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add data to Manager_DB":{"main":[[{"node":"Return MasterID to Master_DB","type":"main","index":0}]]},"Add Data to Notion Master_DB":{"main":[[{"node":"Extract NotionPageId","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA","sheetId":1001057162,"lastRevision":203,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1Ns3-RMt6DPpU32YzKmgqg_MOS0R1HfVnMYXu7gPBNsA&revision=203&exportFormat=xlsx"},"node:Notion Trigger":{"lastTimeChecked":"2025-06-17T18:13:00.000Z"},"node:mngr1_upd":{"lastTimeChecked":"2025-06-18T11:51:00.000Z","possibleDuplicates":["215b1023-6792-8170-988e-c913c8474a15"]},"node:mngr2_upd":{"lastTimeChecked":"2025-06-18T11:51:00.000Z","possibleDuplicates":["215b1023-6792-81a0-a66b-cc4d59795d03"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9689d819-525b-4702-b5a2-973d2a379320","triggerCount":5,"tags":[{"createdAt":"2025-06-16T13:27:47.896Z","updatedAt":"2025-06-16T13:27:47.896Z","id":"ZJAdwf6GKEChRG5R","name":"testing"}]}