leads-to-notion-main-hw1xvNssfNwKXrmB.json
{"createdAt":"2025-06-18T11:52:38.467Z","updatedAt":"2025-06-30T11:15:52.000Z","id":"hw1xvNssfNwKXrmB","name":"Leads to Notion Main","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-submit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[6320,1940],"id":"538819af-865a-4a4e-85a2-332d699a2d81","name":"Webhook","webhookId":"64b1b015-546e-4d01-a91d-eb2ba7421199","notesInFlow":true,"disabled":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон WhatsApp\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6540,1940],"id":"d1246fdd-ddcf-48e9-bbbb-6ffd9a2bdcc5","name":"Code","alwaysOutputData":true,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2075981978,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=2075981978"},"columns":{"mappingMode":"autoMapInputData","value":{"Дата и время":"={{ $json['Время и дата'] }}","Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Телефон":"={{ $json['Телефон'] }}","Мессенджер":"={{ $json['Мессенджер'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Дата и время","displayName":"Дата и время","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6760,1940],"id":"a6819132-e93c-4bc0-8a65-4d301a2ca54f","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc75bc16-14fb-45f3-ae2e-c12fa8a7cc56","leftValue":"={{ $json['Менеджер'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6200,2280],"id":"ccae82b5-da43-4785-b79b-99ee4bf343c3","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6400,2360],"id":"1ff533cf-e00b-4076-93f3-f64563732f9a","name":"Edit Fields","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[6020,2280],"id":"4787ba9a-003c-4474-beb4-e81d842185f7","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"},{"id":"ee091279-9cb9-4352-aaa8-17d2427242e0","name":"notionStatus","value":"={{ $('Edit Fields').item.json['Статус'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6740,2180],"id":"99690136-fb45-4b0b-8cec-f6697c079477","name":"Extract NotionPageId","disabled":true},{"parameters":{"content":"### Google Sheets -> Notion Master Base","height":480,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[5960,2160],"typeVersion":1,"id":"f9d6d4d0-8dfa-47ec-a33d-55c68ac8dcad","name":"Sticky Note","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[5980,2840],"id":"c801e5ff-55f6-4a28-97f0-3d083e857995","name":"Schedule Trigger","disabled":true},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"managerItemId|rich_text","condition":"is_empty"},{"key":"Manager|select","condition":"is_not_empty"},{"key":"Status|status","condition":"equals","statusValue":"Новая заявка (с чата)"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6140,2840],"id":"599acc00-dbaf-4dc3-9692-4aae9cd33e25","name":"Get Pages","notesInFlow":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f86b2a1b-3549-4f99-af93-d04a1bbd99f8","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"6be9f7fe-f749-46f0-9325-5470b148df04","name":"Менеджер","value":"={{ $json.property_manager }}","type":"string"},{"id":"1850081b-4556-4e63-90ed-08d30e062925","name":"rowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"cb542d87-535a-4016-825b-9a50e38512a4","name":"Статус","value":"Новая заявка (с чата)","type":"string"},{"id":"0b4814e6-ecc7-4c63-a3f8-350b8ef6664d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"d1eec5b1-aa70-4c5f-8e75-d83be3ef35d8","name":"Номер WhatsApp","value":"={{ $json.property_whats_app }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6440,2840],"id":"f11d264d-4fe6-45d5-b46c-62b91893a7cb","name":"Prepare for Manager Copy","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6740,2820],"id":"1ed36b55-f604-4eb4-bd2d-10d360321bbc","name":"Merge","disabled":true},{"parameters":{"fieldToSplitOut":"id, name, url, property_created_at, property_row_index, property_updated_at, property_manager, property_whats_app, property_manager_item_id, property_","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[6280,2840],"id":"49755200-3bf4-40c5-b0f0-d3f4ea4dc625","name":"Split Out","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[6020,3240],"id":"87cf1eb2-6672-4421-ab5e-5baa724646eb","name":"mngr1_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[6020,3400],"id":"8a94e694-e6b1-487a-90d3-ecbeb75779a1","name":"mngr2_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6360,3320],"id":"519044b3-fdd5-42cc-9c55-0389d1697fbc","name":"Extract Change","disabled":true},{"parameters":{"content":"## Iteratively Add Data to Manager DB","height":460,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[5900,2680],"typeVersion":1,"id":"0008e1a6-4061-466c-b091-12ca186df494","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## Update status Manager_DB -> Master_DB -> GSheets","height":420,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[5940,3180],"typeVersion":1,"id":"af3831e7-b14c-456b-8f99-9f01085429d7","name":"Sticky Note2","disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Status|status","statusValue":"={{ $json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6600,3320],"id":"026c3134-0811-4364-90ab-3f838effbe83","name":"Master Base Status Update","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"rowNumber":"={{ $json.property_row_index }}","Статус":"={{ $json.property_status }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6820,3320],"id":"4c74985e-428c-4b83-b7cc-1e63ae8a7a08","name":"GSheets Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6200,3320],"id":"51aad414-d52c-4118-8f26-d9711eed7c17","name":"Merge Updates","disabled":true},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $json[\"Менеджер\"] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6580,2720],"id":"0c07a9b1-3507-4e0f-bd69-58a3e9255069","name":"Get Managers ","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.property_id }}","mode":"id"},"title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $json[\"Статус\"] }}"},{"key":"=masterItemId|rich_text","textContent":"={{ $json.masterItemId }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"},{"key":"=Name|title","title":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6920,2820],"id":"d0a7ac34-f208-49e3-894f-1b27e29d8476","name":"Add data to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Add Data to Notion Master_DB').item.json.property_row_index }}","Статус":"={{ $json.notionStatus }}","NotionPageId":"={{ $json.notionPageId }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6920,2280],"id":"d9ac358b-469d-444e-8d7f-8178353e74b7","name":"Return NotionPageId","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Manager|select","selectValue":"={{ $json['Менеджер'] }}"},{"key":"Status|status","statusValue":"={{ $json['Статус'] }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6560,2280],"id":"85317f3e-3fa3-4dfc-9e83-2f12a0d7ddb2","name":"Add Data to Notion Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Merge').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=managerItemId|rich_text","textContent":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[7100,2820],"id":"1d29dad5-c024-4acc-88bd-2537c363ee33","name":"Return managerItemId to Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"content":"## New Lead","height":360,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","position":[300,-720],"typeVersion":1,"id":"aec5c5ba-258a-474d-a375-f035c9e71548","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"lead-submit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,-740],"id":"e5c6a4d7-0620-4d79-86dd-e2a1909ce831","name":"Webhook1","webhookId":"64b1b015-546e-4d01-a91d-eb2ba7421199","notesInFlow":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон WhatsApp\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-600],"id":"05163cb5-c1d2-44bd-817e-6691a7d65de1","name":"Code1","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2075981978,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=2075981978"},"columns":{"mappingMode":"autoMapInputData","value":{"Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[800,-740],"id":"d8a737c3-3810-4633-89e1-d32873b857a5","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"filtersUI":{"values":[{"lookupColumn":"=NotionPageId","lookupValue":"={{$ifEmpty([empty], NotionPageId)}}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,-600],"id":"71b90a93-9305-4313-a696-ae9e33bec1fc","name":"Google Sheets2","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.row_number }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-620],"id":"c035b4a1-e072-469a-9d4e-47360cc1976e","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,-600],"id":"a462a45a-1369-40f6-ac38-c769b4409fb6","name":"Extract NotionPageId1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $json.notionPageId }}","rowNumber":"={{ $('Add Data to Notion Master_DB2').item.json.property_row_index }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2020,-600],"id":"a88a3a04-f5e0-484d-b2cc-beef4d82c87e","name":"Return NotionPageId1","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"={{ \n  ($json['Статус'] !== undefined && $json['Статус'] !== '' && $json['Статус'] !== null) \n    ? $json['Статус'] \n    : \"Новая заявка (с чата)\" \n}}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1580,-600],"id":"4a6cc26a-9f1f-43b7-a564-ba9de1a90c8d","name":"Add Data to Notion Master_DB2","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"c544b0a0-d0c9-4469-9226-f15ad234a270","leftValue":"={{ $json['Анкета'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-600],"id":"ab78cb83-0971-4eea-8576-5c8f52bd023d","name":"If2"},{"parameters":{"content":"# Assign Manager","height":700,"width":1960,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1,"id":"0b948d3d-82c3-456c-9842-392085d39c07","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"4ae8ed84-8ef5-493c-90e1-a8b8e0875a9c","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"number"},{"id":"a2fe98ac-8a73-442a-b469-0bcfce2a369e","name":"newManager","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"8d86f000-54f6-4450-9f76-d3e7a5cf7d70","name":"MasterItemId","value":"={{ $json.NotionPageId }}","type":"string"},{"id":"a131b2c4-7962-4bb7-ad15-fb9646170946","name":"Segment","value":"={{ $json['Сегмент'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,540],"id":"c9b8f9eb-ba65-44d1-9d1c-e497fd0cb276","name":"Extract Sheet Data"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.MasterItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[740,460],"id":"91b82102-01e5-4287-80d2-f1b5f10f2d94","name":"Get Master Page","executeOnce":false,"retryOnFail":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8ea8afbe-0e30-43d2-85bf-b44375466e9d","name":"oldManagerName","value":"={{ $json.property_manager || \"\"}}","type":"string"},{"id":"1414feb2-6604-41f5-93f5-7006fe31a738","name":"oldManagerItemId","value":"={{ $json.property_manager_item_id }}","type":"string"},{"id":"35381856-d1a4-4be6-b7d6-1e4710ab0bb4","name":"masterName","value":"={{ $json.property_ }}","type":"string"},{"id":"c0323155-2ade-45d7-a8f2-658fa7962925","name":"masterStatus","value":"={{ $json.property_status }}","type":"string"},{"id":"d27e257e-eeb1-41fc-a5ec-e593b51251c3","name":"masterRowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"9f3fad63-3d45-4343-ae1b-43c0d90c9b9e","name":"masterPhone","value":"={{ $json.property_whats_app }}","type":"string"},{"id":"57f23b13-6193-45f9-8f5e-421c990d6f7a","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"f84aad37-9eaf-4517-8cac-1d60c6360893","name":"newManager","value":"={{ $('Extract Sheet Data').item.json.newManager }}","type":"string"},{"id":"ed9f6ef6-e7c0-4333-a983-14006a281b97","name":"Segment","value":"={{$('Extract Sheet Data').item.json.Segment}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,460],"id":"da7313e1-46c1-4409-9c18-111fe9b0bc3b","name":"Extract master properties"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $('Extract master properties').item.json.newManager }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1360,460],"id":"c8bb51fa-28ac-4cad-87aa-81865cfa5566","name":"Get Manager DB ID","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2577b69-ac33-45a0-9d4b-f4770fb22707","leftValue":"={{ $json.oldManagerName }}","rightValue":"={{ $json.newManager }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,460],"id":"05a3ddd0-cbf2-426e-884c-c5de580b3e0a","name":"Changed?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f571a60-d212-4168-ac74-d67af86a1957","leftValue":"={{ $json.newManager }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,540],"id":"c0104c2b-a875-4ffa-90c4-fc12a85605ab","name":"NewManagerExists"},{"parameters":{"assignments":{"assignments":[{"id":"891c9573-8c76-45e3-9cca-cb5382d93859","name":"newManagerDatabaseId","value":"={{ $json.property_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,460],"id":"3a1260ee-8731-44e3-bfd6-4f270d0360d0","name":"newManagerDatabaseId"},{"parameters":{"content":"Initial Assignment\n","height":340,"width":900},"type":"n8n-nodes-base.stickyNote","position":[1960,360],"typeVersion":1,"id":"f61efb33-238b-485d-bd52-a8415fc366d0","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf7cc75d-f7d7-4ed5-b089-198a5ab950da","leftValue":"={{ $('Changed?').item.json.oldManagerName }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,460],"id":"9f8f0b73-6c52-4bc8-b8a8-f4a36c25b810","name":"Initial vs Reassign"},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,440],"id":"2a8feb35-d08f-4c3b-9fed-5aa83df5ba49","name":"NewManagerItemId"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Extract master properties').item.json.newManager }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2300,440],"id":"208b3137-806a-4c01-9e7b-e7cc5077b410","name":"Update NewManagerItemId -> MasterDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2020,440],"id":"362622ce-151c-44f6-999b-2a3915b087dd","name":"Write new page to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $('Write new page to Manager_DB1').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,860],"id":"1606596a-ce4a-42e9-a173-8f3171a92879","name":"NewManagerItemId1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Write new page to Manager_DB1').item.json.property_master_item_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Get Manager DB ID').item.json.name }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2600,860],"id":"7bcf8e25-84ae-43fb-9cd4-b9a4637aa85e","name":"Update NewManagerItemId -> MasterDB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"},{"key":"=Segment|select","selectValue":"={{ $('Extract master properties').item.json.Segment }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2080,760],"id":"13c11e63-e7f9-4c79-ad27-138720f93296","name":"Write new page to Manager_DB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"archive","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.oldManagerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2300,860],"id":"aaeac680-8c1b-4092-b464-895c522c4871","name":"Notion","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Re-assignment\n","height":300,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1960,700],"typeVersion":1,"id":"d4763fbe-f9a5-4cc1-a9bb-012b118c8e1c","name":"Sticky Note6"},{"parameters":{"content":"# a. Google Sheets → Master → Manager","height":440,"width":1900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,1380],"id":"96a9818d-2588-4185-a238-90dda0591f3a","name":"Sticky Note7"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"event":"rowUpdate","options":{"columnsToWatch":["Статус"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[780,1480],"id":"3b87a5cf-ddf9-4360-8510-2d4a1b770705","name":"Google Sheets Trigger2","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"assignments":{"assignments":[{"id":"2ec8bd23-33f6-4f06-855f-5e831604cc97","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"1a2f2572-008b-4ab2-a815-d4ca3c4a191f","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"},{"id":"31b01e38-3e8b-4a8b-bcee-4f2f6855b8eb","name":"masterPageId","value":"={{ $json.NotionPageId }}","type":"string"},{"id":"20e3ae07-f6a6-493b-bcdc-2ec407286ec4","name":"Segment","value":"={{ $json[\"Сегмент\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,1480],"id":"994e0593-5dad-4c86-ad41-398e8e214db3","name":"Extract Data","executeOnce":false},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.masterPageId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1740,1480],"id":"ace5a83f-58d8-4b3b-a58e-6f5266ebe740","name":"Notion1","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"48932d1f-7c93-433b-b9d2-d4998556e0aa","name":"masterItemId","value":"={{ $('Notion1').item.json.id }}","type":"string"},{"id":"b674d56e-e8b6-4853-9d42-ac96a7749da3","name":"managerItemId","value":"={{ $('Notion1').item.json.property_manager_item_id }}","type":"string"},{"id":"6446769d-b89c-408d-a24b-935bf0385207","name":"rowIndex","value":"={{ $('Notion1').item.json.property_row_index }}","type":"string"},{"id":"9e6da255-10d0-4462-ac45-c79155b2deba","name":"newStatus","value":"={{ $('Extract Data').item.json.sheetStatus}}","type":"string"},{"id":"26b31eba-8699-421a-8656-44728e6ebb8b","name":"newSegment","value":"={{ $('Extract Data').item.json.Segment}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,1480],"id":"af9ca32a-944b-4adc-a0a4-fd4603ecb4c6","name":"Prepare"},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2500,1520],"id":"174715a3-e4e1-4a90-b98f-a0c11009b5a1","name":"Execute Workflow"},{"parameters":{"content":"# b. Manager DB -> Master -> Sheets","height":500,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,1920],"id":"2cc16d05-c5da-41cd-a036-23dfd2db9fc1","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[980,2100],"id":"b066b000-2566-43a4-9d1f-8afec0ff64bc","name":"Merge1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[780,2000],"id":"2081d85e-e539-4348-99d3-69fa5e25f21e","name":"PageUpdatedManager_1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[780,2200],"id":"fa9275e8-cf69-49ca-9b98-fc59e9083b9e","name":"PageUpdatedManager_2","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"0bf7d5c0-0a8f-4f0c-892b-c487cc1d28df","name":"managerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,2100],"id":"0abf68af-ac48-4c24-988d-2caf9b50c023","name":"Extract Change1"},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,2100],"id":"39c8867b-43d2-4651-9206-ae9ae3a84a3f","name":"Execute Workflow1"},{"parameters":{"content":"# c. Master DB -> Manager DB & Sheets","height":580,"width":1860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,2500],"id":"d0470b3b-f201-4d65-9386-97cb873f43d2","name":"Sticky Note9","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[760,2780],"id":"5d81bad1-2fb2-4751-9eb9-e3a636cd4793","name":"Notion Trigger","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Extract Data1').item.json.rowIndex }}","Статус":"={{ $('Extract Data1').item.json.newStatus }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1760,2540],"id":"c7f9e4c3-c2ea-4fb1-8188-83ec5ecd0626","name":"Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"237d9dd0-d9d9-4998-8e43-d23bebd23849","name":"masterPageId","value":"={{ $json.id }}","type":"string"},{"id":"f985405d-e012-47aa-bafb-7b291b204498","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"f6af24a1-471c-4335-ae8a-97b5dfd8a275","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"20be24b5-68aa-45fb-8134-e08b63187032","name":"managerItemId","value":"={{ $json.managerItemId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,2780],"id":"c4c192d7-6727-4da4-b046-a0353d7cc6fe","name":"Extract Data1","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1140,2660],"id":"7eea4c60-a344-4651-b51b-e391af593362","name":"Extract Sheets Data","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7cbd6412-5683-4757-8f56-0311155f8add","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,2660],"id":"8a83cd02-d249-497e-a19b-9bdf96bd22ab","name":"Extract Sheets Status","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5234b483-f1b3-4640-a82c-d33a9179e63b","leftValue":"={{ $json.sheetStatus }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,2660],"id":"270ebce4-4541-4f22-8724-cbab062b7afb","name":"Check Statuses","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cfef104-9f6c-4057-b0e0-503eb8b9e966","leftValue":"={{ $json.managerItemId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,2700],"id":"0397fe3f-cd3b-4d08-83fd-c543e6f4cfe7","name":"Exists in Manager DB?","disabled":true},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.managerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1940,2700],"id":"ea17960e-d571-455f-9034-0a54c55415bc","name":"Retrieve data from ManagerDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf2c6497-394c-4e31-9137-18af91057e66","leftValue":"={{ $json.property_status }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,2700],"id":"ad95d61c-5ae4-46c0-ac20-16bcab531760","name":"Check Old != New","disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $('Extract Data1').item.json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2320,2680],"id":"7b354d15-b60b-48a1-85e5-676211ec60ce","name":"Update Manager DB Status","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"content":"# SYNC BLOCK","height":1900,"width":2080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1260],"id":"986015f9-d739-4652-b356-675ea855ce22","name":"Sticky Note10"},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{$json.id}}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Notion-Version\": \"2022-06-28\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,600],"id":"53028f79-8f98-40d4-95de-be7fc4d132f7","name":"HTTP Request","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"909e4630-950a-439a-81f2-9a3662b02fa8","name":"plain_text","value":"={{ $json.results[0].paragraph.rich_text[0].plain_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3200,600],"id":"c9880a2a-3dfe-455b-81ce-9f66a4118a5a","name":"Retrieve Page Content"},{"parameters":{"jsCode":"// Получаем весь текст из входящих данных\nconst text = items[0].json.plain_text;\n\n// Разбиваем по переносу строки (учитывает \\n и \\r\\n)\nconst lines = text.split(/\\r?\\n/);\n\n// Ищем строку, начинающуюся с \"Регион покрытия:\"\nlet region = null;\nfor (const line of lines) {\n  const match = line.match(/^Регион покрытия:\\s*(.+)$/);\n  if (match) {\n    region = match[1].trim();\n    break;\n  }\n}\n\n// Отдаём новый объект с извлечённым регионом\nreturn [{\n  json: {\n    regionCoverage: region\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,480],"id":"c48af77b-95cf-42e7-a2b6-e00cad1cfa30","name":"Code2"},{"parameters":{"url":"http://api.geonames.org/searchJSON","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"name\": \"{{ $json.regionCoverage }}\",\n  \"featureClass\": \"P\",\n  \"maxRows\": 1,\n  \"username\": \"Dahaka_ii\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3460,480],"id":"615f3c65-2649-48ed-bdb9-fec17bdbb650","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"fb7333db-8222-4330-b7a3-ffa44450bc3c","name":"geonames[0].population","value":"={{ $json.geonames[0].population }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3580,480],"id":"3724c562-95f4-4e6b-8b12-0f37a8a4318a","name":"Edit Fields2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"<systemPrompt model=\"gpt-4o-mini\" language=\"ru\">\n  <!-- \n    Системный промпт для GPT-4o Mini.\n    Генерирует коммерческие предложения для мастеров красоты по заданному шаблону. \n  -->\n  <metadata>\n    <version>1.0</version>\n    <author>n8n-GPT Интеграция</author>\n  </metadata>\n\n  <role>system</role>\n  <description>\n    <![CDATA[\n    Ты — система автоматизации генерации коммерческих предложений для мастеров красоты. \n    Используй входные данные от клиента, чтобы создать персонализированное коммерческое предложение.\n    Входные данные:\n      • Город: {город}\n      • Население: {население} (пример: для Ставрополя – 562 964 чел.)\n      • Флагманские услуги: {услуги} (перечислены через запятую)\n      • Желаемое количество клиентов: {количество клиентов}\n      • Уровень срочности разработки: {уровень срочности}\n      • Ключевые характеристики: {конкурентное преимущество, точка роста}\n\n    Формула для расчёта частоты запросов:\n      На 100 000 населения приходится 500 запросов.  \n      Частота запросов = (население / 100000) * 500.\n\n    Сформируй коммерческое предложение следующим образом:\n\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n      {услуга 1} – {рассчитанная частота запросов 1} шт/мес\n      {услуга 2} – {рассчитанная частота запросов 2} шт/мес\n      {услуга 3} – {рассчитанная частота запросов 3} шт/мес\n      … (перечисляйте так же для всех указанных услуг)\n\n    (Без учёта околотематик. Спрос есть, результат есть.)\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n\n    Ниже прикрепляю пример уже готового отчёта – возьмите его за пример, не отходите от него и не добавляйте от себя ничего!\n    ]]>\n  </description>\n\n  <!-- Определение входных полей -->\n  <inputs>\n    <field name=\"город\"        type=\"string\" description=\"Название города\" />\n    <field name=\"население\"    type=\"number\" description=\"Численность населения\" />\n    <field name=\"услуги\"       type=\"array\"  description=\"Список флагманских услуг\" />\n    <field name=\"клиентов\"     type=\"integer\" description=\"Желаемое число клиентов\" />\n    <field name=\"срочность\"     type=\"string\" description=\"Уровень срочности разработки\" />\n    <field name=\"характеристики\" type=\"string\" description=\"Конкурентные преимущества и точки роста\" />\n  </inputs>\n\n  <!-- Формула расчёта -->\n  <calculations>\n    <formula name=\"частотаЗапросов\">\n      <![CDATA[\n        (население / 100000) * 500\n      ]]>\n    </formula>\n  </calculations>\n\n  <!-- Шаблон выходного ответа -->\n  <outputTemplate>\n    <![CDATA[\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n    {услуга 1} – {частотаЗапросов(услуга 1)} шт/мес\n    {услуга 2} – {частотаЗапросов(услуга 2)} шт/мес\n    …\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n    ]]>\n  </outputTemplate>\n\n  <!-- Рекомендации по параметрам модели -->\n  <modelSettings>\n    <temperature>0.3</temperature>\n    <maxTokens>1200</maxTokens>\n    <topP>1.0</topP>\n    <frequencyPenalty>0.2</frequencyPenalty>\n    <presencePenalty>0.0</presencePenalty>\n  </modelSettings>\n</systemPrompt>\n","role":"system"},{"content":"={{ $('Retrieve Page Content').item.json[\"plain_text\"] || \"\" }}"}]},"options":{"maxTokens":1024,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3840,600],"id":"000a88bc-591d-4408-93d1-50750d3d0c08","name":"Generate Comment","credentials":{"openAiApi":{"id":"xIoIQD1YApmoxCg1","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('HTTP Request').item.json.results[0].parent.page_id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4160,600],"id":"5be721a7-698d-45e0-abd4-38fff7056f3b","name":"Prepare Payload"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4300,600],"id":"70a3a4a8-1118-47ff-ba56-0fdc9ae360f1","name":"Post Notion Comment","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $json.parent.page_id }}","strategyGPT":"={{$json.rich_text}}"},"matchingColumns":["NotionPageId"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4300,740],"id":"7d6f3aa2-1fe5-4d71-be0d-ab326fb8e0f0","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4500,960],"id":"11216405-87b8-4363-991b-7c336094281c","name":"Post Notion Comment1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4320,960],"id":"4bff5f36-5d9d-419c-bba7-befc6f118e05","name":"Prepare Payload1"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,720],"id":"47d12a68-041d-452d-8a3d-710522d0f9fc","name":"Post Notion Comment3","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB1').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,720],"id":"fef55fc4-b3b4-42e5-b760-31a1cae6c671","name":"Prepare Payload3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3700,600],"id":"ddb1855d-9142-4872-aec5-2574fbc133b0","name":"Merge2"},{"parameters":{"content":"# GPT Strategy","height":580,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2900,360],"typeVersion":1,"id":"d5cf3899-d5d4-4b9f-92b7-094a9592ae31","name":"Sticky Note11","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5d0166b9-47c6-49ff-8266-29aaea5bdfc0","name":"chatId","value":"={{ $json.property_chat_id }}","type":"string"},{"id":"3700230c-9624-4a77-97ff-e2b58b0d096d","name":"masterPhone","value":"={{ $('Google Sheets Trigger1').item.json['Телефон WhatsApp'] }}","type":"string"},{"id":"1f0a471d-cdf2-41e3-8da6-e87ff66a9a9c","name":"formData","value":"={{ $(\"Google Sheets Trigger1\").item.json[\"Анкета\"] }}","type":"string"},{"id":"7df16021-5857-4fcf-a761-54b6fe9ac951","name":"commentText","value":"={{ $('Google Sheets Trigger1').item.json.strategyGPT }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,840],"id":"6e33e569-3a11-4973-ab04-d5f56e46b20a","name":"Prepare Telegram Data","executeOnce":false},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=📌 *Новая заявка*\n\n📝 *Данные анкеты*:\n{{ $json.formData }}\n\n💡 *Комментарий GPT*:","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,840],"id":"7b641bbb-3863-43a2-a92f-42b78edf1c9b","name":"Telegram","webhookId":"c2891006-8345-4d47-a2dd-4603f3a636a6","executeOnce":true,"credentials":{"telegramApi":{"id":"y3cJ0RcFuvjBerIv","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"event":"rowUpdate","options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[100,540],"id":"77d81261-f6b8-4cde-89b9-4c540b65539c","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"33c7282c-f682-4ff2-8801-50681086fe71","leftValue":"={{ $json['Время получения'] }}","rightValue":"={{ \"\" }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1000,1480],"id":"cc312c61-3c6e-409d-866f-e2db0823e185","name":"Filter"},{"parameters":{"batchSize":20,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1260,1480],"id":"e35a7f55-acf6-4f3a-918f-2c2d77f2f53e","name":"Loop Over Items1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extract Data').item.json.sheetStatus }}","rightValue":"={{ $json.property_status }}","operator":{"type":"string","operation":"notEquals"},"id":"df67706c-b940-4b39-81e4-2cd6591b70a1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Status Changed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e0a3380-f95a-4a34-ad4e-0f3646d51f31","leftValue":"={{ $('Extract Data').item.json.sheetStatus }}","rightValue":"={{ $json.property_status }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Status Not Changed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2000,1560],"id":"ebdbbe66-2038-49a7-8649-8c2690170616","name":"Switch"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add Data to Notion Master_DB","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract NotionPageId":{"main":[[{"node":"Return NotionPageId","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Pages","type":"main","index":0}]]},"Get Pages":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prepare for Manager Copy":{"main":[[{"node":"Get Managers ","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Add data to Manager_DB","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare for Manager Copy","type":"main","index":0}]]},"mngr1_upd":{"main":[[{"node":"Merge Updates","type":"main","index":0}]]},"mngr2_upd":{"main":[[{"node":"Merge Updates","type":"main","index":1}]]},"Extract Change":{"main":[[{"node":"Master Base Status Update","type":"main","index":0}]]},"Master Base Status Update":{"main":[[{"node":"GSheets Status Update","type":"main","index":0}]]},"Merge Updates":{"main":[[{"node":"Extract Change","type":"main","index":0}]]},"Get Managers ":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add data to Manager_DB":{"main":[[{"node":"Return managerItemId to Master_DB","type":"main","index":0}]]},"Add Data to Notion Master_DB":{"main":[[{"node":"Extract NotionPageId","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Extract NotionPageId1":{"main":[[{"node":"Return NotionPageId1","type":"main","index":0}]]},"Add Data to Notion Master_DB2":{"main":[[{"node":"Extract NotionPageId1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Add Data to Notion Master_DB2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Extract Sheet Data":{"main":[[{"node":"NewManagerExists","type":"main","index":0}]]},"Get Master Page":{"main":[[{"node":"Extract master properties","type":"main","index":0}]]},"Extract master properties":{"main":[[{"node":"Changed?","type":"main","index":0}]]},"Get Manager DB ID":{"main":[[{"node":"newManagerDatabaseId","type":"main","index":0},{"node":"Prepare Telegram Data","type":"main","index":0}]]},"Changed?":{"main":[[{"node":"Get Manager DB ID","type":"main","index":0}],[]]},"NewManagerExists":{"main":[[{"node":"Get Master Page","type":"main","index":0}]]},"newManagerDatabaseId":{"main":[[{"node":"Initial vs Reassign","type":"main","index":0}]]},"Initial vs Reassign":{"main":[[{"node":"Write new page to Manager_DB","type":"main","index":0}],[{"node":"Write new page to Manager_DB1","type":"main","index":0}]]},"NewManagerItemId":{"main":[[{"node":"Update NewManagerItemId -> MasterDB","type":"main","index":0}]]},"Write new page to Manager_DB":{"main":[[{"node":"NewManagerItemId","type":"main","index":0}]]},"Update NewManagerItemId -> MasterDB":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"NewManagerItemId1":{"main":[[{"node":"Update NewManagerItemId -> MasterDB1","type":"main","index":0}]]},"Write new page to Manager_DB1":{"main":[[{"node":"Notion","type":"main","index":0},{"node":"Prepare Payload3","type":"main","index":0}]]},"Notion":{"main":[[{"node":"NewManagerItemId1","type":"main","index":0}]]},"Google Sheets Trigger2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"PageUpdatedManager_2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"PageUpdatedManager_1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Extract Change1","type":"main","index":0}]]},"Extract Change1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Notion Trigger":{"main":[[{"node":"Extract Data1","type":"main","index":0}]]},"Extract Data1":{"main":[[{"node":"Extract Sheets Data","type":"main","index":0}]]},"Extract Sheets Data":{"main":[[{"node":"Extract Sheets Status","type":"main","index":0}]]},"Extract Sheets Status":{"main":[[{"node":"Check Statuses","type":"main","index":0}]]},"Check Statuses":{"main":[[{"node":"Status Update","type":"main","index":0},{"node":"Exists in Manager DB?","type":"main","index":0}]]},"Exists in Manager DB?":{"main":[[{"node":"Retrieve data from ManagerDB","type":"main","index":0}]]},"Retrieve data from ManagerDB":{"main":[[{"node":"Check Old != New","type":"main","index":0}]]},"Check Old != New":{"main":[[{"node":"Update Manager DB Status","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Retrieve Page Content","type":"main","index":0}]]},"Retrieve Page Content":{"main":[[{"node":"Code2","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Code2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Generate Comment":{"main":[[{"node":"Prepare Payload","type":"main","index":0}]]},"Prepare Payload":{"main":[[{"node":"Post Notion Comment","type":"main","index":0},{"node":"Google Sheets3","type":"main","index":0},{"node":"Prepare Payload1","type":"main","index":0}]]},"Prepare Payload1":{"main":[[{"node":"Post Notion Comment1","type":"main","index":0}]]},"Prepare Payload3":{"main":[[{"node":"Post Notion Comment3","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Generate Comment","type":"main","index":0}]]},"Prepare Telegram Data":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Extract Sheet Data","type":"main","index":0}]]},"Telegram":{"main":[[]]},"Filter":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"Switch":{"main":[[{"node":"Prepare","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Extract Data","type":"main","index":0}]]},"Update NewManagerItemId -> MasterDB1":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":316,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=316&exportFormat=xlsx"},"node:mngr1_upd":{"lastTimeChecked":"2025-06-19T14:30:00.000Z","possibleDuplicates":["21729f44-8079-81b7-8bca-d0993ead9763"]},"node:mngr2_upd":{"lastTimeChecked":"2025-06-19T14:29:00.000Z","possibleDuplicates":["21729f44-8079-8127-b35b-c331738a90ff","21729f44-8079-813c-aecb-d16e3ef77432","21729f44-8079-81ab-934f-f5de95baa57a"]},"node:New Status":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":284,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=284&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1492369066,"lastRevision":1794,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=1794&exportFormat=xlsx"},"node:Google Sheets Trigger2":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1492369066,"lastRevision":1794,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=1794&exportFormat=xlsx"},"node:PageUpdatedManager_1":{"lastTimeChecked":"2025-06-30T15:14:00.000Z"},"node:PageUpdatedManager_2":{"lastTimeChecked":"2025-06-30T15:15:00.000Z","possibleDuplicates":["22229f44-8079-8004-b94e-f9bfd273121d"]},"node:Notion Trigger":{"lastTimeChecked":"2025-06-19T17:28:00.000Z","possibleDuplicates":["21729f44-8079-814e-b19e-edf0f4845ca5"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d3fdff0-d72d-4975-bf87-7877c654bc81","triggerCount":5,"tags":[{"createdAt":"2025-06-16T13:27:47.896Z","updatedAt":"2025-06-16T13:27:47.896Z","id":"ZJAdwf6GKEChRG5R","name":"testing"}]}