leads-to-notion-main-copy-m92Or0yBjs3Ck26N.json
{"createdAt":"2025-06-24T15:41:10.121Z","updatedAt":"2025-06-24T15:41:26.000Z","id":"m92Or0yBjs3Ck26N","name":"Leads to Notion Main copy","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"e0e5e9e2-9b30-4a2a-bb39-ac6fb3c83773","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[6320,1940],"id":"f944c7f8-94ca-425e-b93c-00eb5427128c","name":"Webhook","webhookId":"e0e5e9e2-9b30-4a2a-bb39-ac6fb3c83773","notesInFlow":true,"disabled":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон WhatsApp\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6540,1940],"id":"3bf3a140-4481-4058-a375-1de3bfc896c1","name":"Code","alwaysOutputData":true,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2075981978,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=2075981978"},"columns":{"mappingMode":"autoMapInputData","value":{"Дата и время":"={{ $json['Время и дата'] }}","Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Телефон":"={{ $json['Телефон'] }}","Мессенджер":"={{ $json['Мессенджер'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Дата и время","displayName":"Дата и время","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6760,1940],"id":"eb3903fa-6878-43c3-9bf5-30dafed18fb7","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc75bc16-14fb-45f3-ae2e-c12fa8a7cc56","leftValue":"={{ $json['Менеджер'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6200,2280],"id":"90201a21-9908-4e60-be94-019386b6910b","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6400,2360],"id":"470095dd-078a-4f57-9b3b-6fad3f04ab2c","name":"Edit Fields","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[6020,2280],"id":"b7cd7145-9f82-4fd6-ba16-2c387720f4fa","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"},{"id":"ee091279-9cb9-4352-aaa8-17d2427242e0","name":"notionStatus","value":"={{ $('Edit Fields').item.json['Статус'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6740,2180],"id":"efbd2213-5746-41e6-8449-98f4334f00c9","name":"Extract NotionPageId","disabled":true},{"parameters":{"content":"### Google Sheets -> Notion Master Base","height":480,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[5960,2160],"typeVersion":1,"id":"80f13f46-3518-451b-916a-fd267aeb697e","name":"Sticky Note","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[5980,2840],"id":"fab5d43b-53d1-4df3-a4f4-3164eeca752d","name":"Schedule Trigger","disabled":true},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"managerItemId|rich_text","condition":"is_empty"},{"key":"Manager|select","condition":"is_not_empty"},{"key":"Status|status","condition":"equals","statusValue":"Новая заявка (с чата)"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6140,2840],"id":"e50a5854-d336-43b1-b0bd-d829d2986709","name":"Get Pages","notesInFlow":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"f86b2a1b-3549-4f99-af93-d04a1bbd99f8","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"6be9f7fe-f749-46f0-9325-5470b148df04","name":"Менеджер","value":"={{ $json.property_manager }}","type":"string"},{"id":"1850081b-4556-4e63-90ed-08d30e062925","name":"rowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"cb542d87-535a-4016-825b-9a50e38512a4","name":"Статус","value":"Новая заявка (с чата)","type":"string"},{"id":"0b4814e6-ecc7-4c63-a3f8-350b8ef6664d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"d1eec5b1-aa70-4c5f-8e75-d83be3ef35d8","name":"Номер WhatsApp","value":"={{ $json.property_whats_app }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6440,2840],"id":"5fef8f45-99b9-488a-8b8f-6041994fa5b6","name":"Prepare for Manager Copy","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6740,2820],"id":"b8317aa0-592d-4e8d-aea9-9aa54a603233","name":"Merge","disabled":true},{"parameters":{"fieldToSplitOut":"id, name, url, property_created_at, property_row_index, property_updated_at, property_manager, property_whats_app, property_manager_item_id, property_","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[6280,2840],"id":"a6af7cfb-34c6-4ce2-84e4-e67130783d89","name":"Split Out","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[6020,3240],"id":"0045b1e0-3806-449b-b1d9-035e57c3780f","name":"mngr1_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[6020,3400],"id":"87b01c12-0911-401f-ba1b-a6d010bcac29","name":"mngr2_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6360,3320],"id":"e773a074-b4ee-4f34-9cde-bdb1f2a293b9","name":"Extract Change","disabled":true},{"parameters":{"content":"## Iteratively Add Data to Manager DB","height":460,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[5900,2680],"typeVersion":1,"id":"649c5767-ea65-4a0f-94ec-4956154304da","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## Update status Manager_DB -> Master_DB -> GSheets","height":420,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[5940,3180],"typeVersion":1,"id":"74ee96c0-0fa4-4729-8fbd-28083b269dd5","name":"Sticky Note2","disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Status|status","statusValue":"={{ $json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6600,3320],"id":"67331b5e-cebe-41c7-86ea-d84f8795f611","name":"Master Base Status Update","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"rowNumber":"={{ $json.property_row_index }}","Статус":"={{ $json.property_status }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6820,3320],"id":"25bc39e0-8b39-4868-a7a1-5ef0f6e8414d","name":"GSheets Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6200,3320],"id":"29f35d9c-aba3-4d84-9045-86097c8e407a","name":"Merge Updates","disabled":true},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $json[\"Менеджер\"] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6580,2720],"id":"3fe43e8c-d748-40bf-85ec-d2306147bbbf","name":"Get Managers ","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.property_id }}","mode":"id"},"title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $json[\"Статус\"] }}"},{"key":"=masterItemId|rich_text","textContent":"={{ $json.masterItemId }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"},{"key":"=Name|title","title":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6920,2820],"id":"d307fd2c-3e69-46b7-94e2-b20299e5f461","name":"Add data to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Add Data to Notion Master_DB').item.json.property_row_index }}","Статус":"={{ $json.notionStatus }}","NotionPageId":"={{ $json.notionPageId }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6920,2280],"id":"7bd7c83a-d5e9-4454-92ff-5e34f30bb235","name":"Return NotionPageId","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Manager|select","selectValue":"={{ $json['Менеджер'] }}"},{"key":"Status|status","statusValue":"={{ $json['Статус'] }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[6560,2280],"id":"74611b3f-fa02-4237-9847-aac4eb34238e","name":"Add Data to Notion Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Merge').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=managerItemId|rich_text","textContent":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[7100,2820],"id":"67145e73-ce70-4122-b58b-a07069c25c19","name":"Return managerItemId to Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"content":"## New Lead","height":360,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","position":[300,-720],"typeVersion":1,"id":"613a02ac-36b6-4e1e-8858-4766c44bc79d","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"c367b61f-efe9-4051-92e0-f71496fa069d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,-740],"id":"7e2376e5-297a-4f18-b422-a3d35e8bf21e","name":"Webhook1","webhookId":"c367b61f-efe9-4051-92e0-f71496fa069d","notesInFlow":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон WhatsApp\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,-600],"id":"9c6d7129-9a71-4c3f-836e-6d1840c06648","name":"Code1","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2075981978,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=2075981978"},"columns":{"mappingMode":"autoMapInputData","value":{"Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[800,-740],"id":"e4216885-9a5f-49d2-b9dd-3c0e88e98013","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"filtersUI":{"values":[{"lookupColumn":"=NotionPageId","lookupValue":"={{$ifEmpty([empty], NotionPageId)}}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,-600],"id":"43d8695c-1eda-4d38-98cf-bab30791a29d","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.row_number }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,-620],"id":"b7b7b7a7-1883-4256-92a3-eb9dd993f365","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,-600],"id":"9b4160d2-5629-4916-bc37-2f563b68a09a","name":"Extract NotionPageId1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $json.notionPageId }}","rowNumber":"={{ $('Add Data to Notion Master_DB2').item.json.property_row_index }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2020,-600],"id":"648836f1-0e58-4810-8cb8-d451555b0e24","name":"Return NotionPageId1","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Manager|select","selectValue":"={{ $json['Менеджер'] }}"},{"key":"Status|status","statusValue":"={{ $json['Статус'] }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1580,-600],"id":"02b13831-a106-4472-a4a2-2d5ee0547379","name":"Add Data to Notion Master_DB2","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"c544b0a0-d0c9-4469-9226-f15ad234a270","leftValue":"={{ $json['Анкета'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-600],"id":"0b42383d-2e93-441d-a290-d2935aa98da5","name":"If2"},{"parameters":{"content":"# Assign Manager","height":640,"width":1900,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1,"id":"3ca8d1b6-28d8-423d-9ddd-6c074232923c","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"4ae8ed84-8ef5-493c-90e1-a8b8e0875a9c","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"number"},{"id":"a2fe98ac-8a73-442a-b469-0bcfce2a369e","name":"newManager","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"8d86f000-54f6-4450-9f76-d3e7a5cf7d70","name":"MasterItemId","value":"={{ $json.NotionPageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,540],"id":"008d0008-3bac-4b80-8732-673da50962ec","name":"Extract Sheet Data"},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.MasterItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[740,460],"id":"012ed336-7d43-4f25-ae88-21a9090d4fb9","name":"Get Master Page","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8ea8afbe-0e30-43d2-85bf-b44375466e9d","name":"oldManagerName","value":"={{ $json.property_manager || \"\"}}","type":"string"},{"id":"1414feb2-6604-41f5-93f5-7006fe31a738","name":"oldManagerItemId","value":"={{ $json.property_manager_item_id }}","type":"string"},{"id":"35381856-d1a4-4be6-b7d6-1e4710ab0bb4","name":"masterName","value":"={{ $json.property_ }}","type":"string"},{"id":"c0323155-2ade-45d7-a8f2-658fa7962925","name":"masterStatus","value":"={{ $json.property_status }}","type":"string"},{"id":"d27e257e-eeb1-41fc-a5ec-e593b51251c3","name":"masterRowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"9f3fad63-3d45-4343-ae1b-43c0d90c9b9e","name":"masterPhone","value":"={{ $json.property_whats_app }}","type":"string"},{"id":"57f23b13-6193-45f9-8f5e-421c990d6f7a","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"f84aad37-9eaf-4517-8cac-1d60c6360893","name":"newManager","value":"={{ $('Extract Sheet Data').item.json.newManager }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,480],"id":"d29df6d6-822b-4245-a4d9-e1ec8728f8d7","name":"Extract master properties"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $('Extract master properties').item.json.newManager }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1300,420],"id":"19040676-e360-42e6-88e2-f23659acd2d5","name":"Get Manager DB ID","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2577b69-ac33-45a0-9d4b-f4770fb22707","leftValue":"={{ $json.oldManagerName }}","rightValue":"={{ $json.newManager }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,480],"id":"f1327922-9452-44d7-b1cd-6f7c57204dc1","name":"Changed?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f571a60-d212-4168-ac74-d67af86a1957","leftValue":"={{ $json.newManager }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,540],"id":"c108d710-7c39-4f07-a138-cdb5394185c1","name":"NewManagerExists"},{"parameters":{"assignments":{"assignments":[{"id":"891c9573-8c76-45e3-9cca-cb5382d93859","name":"newManagerDatabaseId","value":"={{ $json.property_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,420],"id":"f4e2d8a5-a5b5-4771-bb7d-02aecab6ae53","name":"newManagerDatabaseId"},{"parameters":{"content":"Initial Assignment\n","height":340,"width":900},"type":"n8n-nodes-base.stickyNote","position":[1900,320],"typeVersion":1,"id":"ef4ececa-3ffa-48fa-8ce1-dd8541b6a258","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf7cc75d-f7d7-4ed5-b089-198a5ab950da","leftValue":"={{ $('Changed?').item.json.oldManagerName }}","rightValue":"=","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1700,560],"id":"ed65ac04-9c83-44a4-9c5d-f6eb8520fba2","name":"Initial vs Reassign"},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,480],"id":"43a0e782-91cb-422d-a423-0ddedd63ddaa","name":"NewManagerItemId"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Extract master properties').item.json.newManager }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2420,480],"id":"5025d747-d1bb-4fa9-9504-70c1009b242e","name":"Update NewManagerItemId -> MasterDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1960,420],"id":"77422701-dcdc-477e-90ca-1f02259be720","name":"Write new page to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e83f046f-6a35-4619-befd-6b9fc9d0d967","name":"newManagerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,820],"id":"5ca3952b-7f2a-4a08-84a3-1852376c6b21","name":"NewManagerItemId1"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Write new page to Manager_DB1').item.json.property_master_item_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Manager|select","selectValue":"={{ $('Get Manager DB ID').item.json.name }}"},{"key":"=managerItemId|rich_text","textContent":"={{$json.newManagerItemId}}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2540,820],"id":"e81b26ad-f516-44e7-9827-bec64df93264","name":"Update NewManagerItemId -> MasterDB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.newManagerDatabaseId }}","mode":"id"},"title":"={{ $('Extract master properties').item.json.masterName }}","propertiesUi":{"propertyValues":[{"key":"=masterItemId|rich_text","textContent":"={{ $('Extract master properties').item.json.masterItemId }}"},{"key":"=Name|title","title":"={{ $('Extract master properties').item.json.masterName }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $('Extract master properties').item.json.masterPhone }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $('Extract master properties').item.json.masterRowIndex }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $('Google Sheets Trigger1').item.json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2020,720],"id":"f9007b9b-cd00-4203-b9b0-0154e4fa6f82","name":"Write new page to Manager_DB1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"archive","pageId":{"__rl":true,"value":"={{ $('Extract master properties').item.json.oldManagerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2240,820],"id":"f8fce93a-641b-47f5-8887-e7bfeb232e05","name":"Notion","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"content":"Re-assignment\n","height":300,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1900,660],"typeVersion":1,"id":"98267596-aa3b-4521-8286-df26176d2b59","name":"Sticky Note6"},{"parameters":{"content":"# a. Google Sheets → Master → Manager","height":360,"width":1440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,1340],"id":"a2f87796-3360-47e1-bb72-64ee34480358","name":"Sticky Note7"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"event":"rowUpdate","options":{"columnsToWatch":["Статус"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[780,1480],"id":"4fbfe598-2b2c-4c77-8e75-72d048bb6e56","name":"Google Sheets Trigger2","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2ec8bd23-33f6-4f06-855f-5e831604cc97","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"1a2f2572-008b-4ab2-a815-d4ca3c4a191f","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"},{"id":"31b01e38-3e8b-4a8b-bcee-4f2f6855b8eb","name":"masterPageId","value":"={{ $json.NotionPageId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,1480],"id":"be80e51a-b914-4a91-b7fa-8756b33cfce9","name":"Extract Data","executeOnce":false,"disabled":true},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.masterPageId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1220,1480],"id":"2ba7a287-47ab-4433-a14f-6e5a2fbf5966","name":"Notion1","alwaysOutputData":false,"executeOnce":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15237035-64d4-4280-9da8-fa222bc57212","leftValue":"={{ $('Extract Data').item.json.sheetStatus }}","rightValue":"={{ $json.property_status }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,1480],"id":"8cab754c-7528-4c4f-9cc1-2779fdcd477e","name":"If1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"48932d1f-7c93-433b-b9d2-d4998556e0aa","name":"masterItemId","value":"={{ $('Notion1').item.json.id }}","type":"string"},{"id":"b674d56e-e8b6-4853-9d42-ac96a7749da3","name":"managerItemId","value":"={{ $('Notion1').item.json.property_manager_item_id }}","type":"string"},{"id":"6446769d-b89c-408d-a24b-935bf0385207","name":"rowIndex","value":"={{ $('Notion1').item.json.property_row_index }}","type":"string"},{"id":"9e6da255-10d0-4462-ac45-c79155b2deba","name":"newStatus","value":"={{ $('Extract Data').item.json.sheetStatus}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,1460],"id":"6a0cd775-7d69-45da-9695-7ee588b2dd6a","name":"Prepare","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,1400],"id":"512f94bf-1613-4f78-baf8-83811a9aaee1","name":"Execute Workflow","disabled":true},{"parameters":{"content":"# b. Manager DB -> Master -> Sheets","height":500,"width":980},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,1920],"id":"632a1d63-9f08-46f9-b9d0-e518cc2ba864","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[980,2100],"id":"97d34481-91bf-4e9f-9175-df76b9b8db9b","name":"Merge1","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[780,2000],"id":"9523ee0c-2f4d-4ac6-9fd3-9feab5d9e22d","name":"PageUpdatedManager_1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[780,2200],"id":"39edc6fd-35cf-4f7f-869a-c0b8817b02e8","name":"PageUpdatedManager_2","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"0bf7d5c0-0a8f-4f0c-892b-c487cc1d28df","name":"managerItemId","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,2100],"id":"41e12c52-cdb3-493d-acb6-e56903d51c86","name":"Extract Change1","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"qj64o0c8FKnoTVBF","mode":"list","cachedResultName":"Sync_status"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1440,2100],"id":"3254e92e-51a8-4da0-bec8-28feda4ccfcc","name":"Execute Workflow1","disabled":true},{"parameters":{"content":"# c. Master DB -> Manager DB & Sheets","height":580,"width":1860},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[680,2500],"id":"bb9814ca-3d75-41e3-96e6-428ac1cb754e","name":"Sticky Note9","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[760,2780],"id":"8956a0cc-862d-420c-9b16-e4a93c20d4ad","name":"Notion Trigger","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Extract Data1').item.json.rowIndex }}","Статус":"={{ $('Extract Data1').item.json.newStatus }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1760,2540],"id":"15b775f3-591f-40f9-89f7-d8bbb9182d07","name":"Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"237d9dd0-d9d9-4998-8e43-d23bebd23849","name":"masterPageId","value":"={{ $json.id }}","type":"string"},{"id":"f985405d-e012-47aa-bafb-7b291b204498","name":"newStatus","value":"={{ $json.Status }}","type":"string"},{"id":"f6af24a1-471c-4335-ae8a-97b5dfd8a275","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"20be24b5-68aa-45fb-8134-e08b63187032","name":"managerItemId","value":"={{ $json.managerItemId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,2780],"id":"e458b339-d114-4ed3-b2be-aaa0ae3dcbf9","name":"Extract Data1","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1140,2660],"id":"42c1e3b2-0f76-4035-9d34-1e4a02ab4d74","name":"Extract Sheets Data","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7cbd6412-5683-4757-8f56-0311155f8add","name":"sheetStatus","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,2660],"id":"2d26881a-a873-4db9-bfb4-adfafe29c117","name":"Extract Sheets Status","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5234b483-f1b3-4640-a82c-d33a9179e63b","leftValue":"={{ $json.sheetStatus }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,2660],"id":"6acf8944-4c5b-4878-b6ed-cb877ad03201","name":"Check Statuses","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cfef104-9f6c-4057-b0e0-503eb8b9e966","leftValue":"={{ $json.managerItemId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,2700],"id":"f4752fbd-4b6d-4ddd-bc33-a7ad0dedc8cd","name":"Exists in Manager DB?","disabled":true},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.managerItemId }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1940,2700],"id":"43885e62-f508-443b-be27-782697e84dc7","name":"Retrieve data from ManagerDB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf2c6497-394c-4e31-9137-18af91057e66","leftValue":"={{ $json.property_status }}","rightValue":"={{ $('Extract Data1').item.json.newStatus }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,2700],"id":"810abdd5-b7ce-454d-99a1-3286947548c0","name":"Check Old != New","disabled":true},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $('Extract Data1').item.json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2320,2680],"id":"29307c6f-8a45-4e75-a098-3be568c27b02","name":"Update Manager DB Status","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"content":"# SYNC BLOCK","height":1900,"width":2080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1260],"id":"85b84904-e546-4814-92ba-c89c475464c5","name":"Sticky Note10"},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{$json.notionPageId}}/children","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Notion-Version\": \"2022-06-28\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-60],"id":"1500ab5c-1a2b-41fc-a77f-fa0aa185434f","name":"HTTP Request","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"909e4630-950a-439a-81f2-9a3662b02fa8","name":"plain_text","value":"={{ $json.results[0].paragraph.rich_text[0].plain_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-60],"id":"f01aac3b-dfc7-42b2-bb4b-afa85028c59b","name":"Retrieve Page Content","disabled":true},{"parameters":{"jsCode":"// Получаем весь текст из входящих данных\nconst text = items[0].json.plain_text;\n\n// Разбиваем по переносу строки (учитывает \\n и \\r\\n)\nconst lines = text.split(/\\r?\\n/);\n\n// Ищем строку, начинающуюся с \"Регион покрытия:\"\nlet region = null;\nfor (const line of lines) {\n  const match = line.match(/^Регион покрытия:\\s*(.+)$/);\n  if (match) {\n    region = match[1].trim();\n    break;\n  }\n}\n\n// Отдаём новый объект с извлечённым регионом\nreturn [{\n  json: {\n    regionCoverage: region\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1460,-180],"id":"ed6d6eee-bee9-4b45-b150-1f69ef99ad43","name":"Code2","disabled":true},{"parameters":{"url":"http://api.geonames.org/searchJSON","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"name\": \"{{ $json.regionCoverage }}\",\n  \"featureClass\": \"P\",\n  \"maxRows\": 1,\n  \"username\": \"Dahaka_ii\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-180],"id":"1b02eeb9-4ecb-4129-a9c6-9252521f7be3","name":"HTTP Request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"fb7333db-8222-4330-b7a3-ffa44450bc3c","name":"geonames[0].population","value":"={{ $json.geonames[0].population }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,-180],"id":"876cdb54-7250-49b9-9e79-a7b0e01b6094","name":"Edit Fields2","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"<systemPrompt model=\"gpt-4o-mini\" language=\"ru\">\n  <!-- \n    Системный промпт для GPT-4o Mini.\n    Генерирует коммерческие предложения для мастеров красоты по заданному шаблону. \n  -->\n  <metadata>\n    <version>1.0</version>\n    <author>n8n-GPT Интеграция</author>\n  </metadata>\n\n  <role>system</role>\n  <description>\n    <![CDATA[\n    Ты — система автоматизации генерации коммерческих предложений для мастеров красоты. \n    Используй входные данные от клиента, чтобы создать персонализированное коммерческое предложение.\n    Входные данные:\n      • Город: {город}\n      • Население: {население} (пример: для Ставрополя – 562 964 чел.)\n      • Флагманские услуги: {услуги} (перечислены через запятую)\n      • Желаемое количество клиентов: {количество клиентов}\n      • Уровень срочности разработки: {уровень срочности}\n      • Ключевые характеристики: {конкурентное преимущество, точка роста}\n\n    Формула для расчёта частоты запросов:\n      На 100 000 населения приходится 500 запросов.  \n      Частота запросов = (население / 100000) * 500.\n\n    Сформируй коммерческое предложение следующим образом:\n\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n      {услуга 1} – {рассчитанная частота запросов 1} шт/мес\n      {услуга 2} – {рассчитанная частота запросов 2} шт/мес\n      {услуга 3} – {рассчитанная частота запросов 3} шт/мес\n      … (перечисляйте так же для всех указанных услуг)\n\n    (Без учёта околотематик. Спрос есть, результат есть.)\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n\n    Ниже прикрепляю пример уже готового отчёта – возьмите его за пример, не отходите от него и не добавляйте от себя ничего!\n    ]]>\n  </description>\n\n  <!-- Определение входных полей -->\n  <inputs>\n    <field name=\"город\"        type=\"string\" description=\"Название города\" />\n    <field name=\"население\"    type=\"number\" description=\"Численность населения\" />\n    <field name=\"услуги\"       type=\"array\"  description=\"Список флагманских услуг\" />\n    <field name=\"клиентов\"     type=\"integer\" description=\"Желаемое число клиентов\" />\n    <field name=\"срочность\"     type=\"string\" description=\"Уровень срочности разработки\" />\n    <field name=\"характеристики\" type=\"string\" description=\"Конкурентные преимущества и точки роста\" />\n  </inputs>\n\n  <!-- Формула расчёта -->\n  <calculations>\n    <formula name=\"частотаЗапросов\">\n      <![CDATA[\n        (население / 100000) * 500\n      ]]>\n    </formula>\n  </calculations>\n\n  <!-- Шаблон выходного ответа -->\n  <outputTemplate>\n    <![CDATA[\n    {имя клиента}, все как вы и просили, текстом дублирую сюда, не смогли найти ваш ТЕЛЕГРАМ аккаунт. Разработали для вас стратегию.\n\n    А ниже вашего ответа будет СММ на 14 дней бесплатный.\n\n    Население {город} – {население} чел.\n\n    Ключевые запросы:\n    {услуга 1} – {частотаЗапросов(услуга 1)} шт/мес\n    {услуга 2} – {частотаЗапросов(услуга 2)} шт/мес\n    …\n\n    Вам нужно продвигаться в контекстной рекламе, а не в таргете, так как в таргете частников больше и цена (CPC) клика дороже.\n\n    Площадки размещения брать: поисковые + баннерные РСЯ, 80% трафика будет с мобильного телефона.\n\n    Уточните, пожалуйста, запускали ли вы ранее рекламу (если да, то какую)?\n    ]]>\n  </outputTemplate>\n\n  <!-- Рекомендации по параметрам модели -->\n  <modelSettings>\n    <temperature>0.3</temperature>\n    <maxTokens>1200</maxTokens>\n    <topP>1.0</topP>\n    <frequencyPenalty>0.2</frequencyPenalty>\n    <presencePenalty>0.0</presencePenalty>\n  </modelSettings>\n</systemPrompt>\n","role":"system"},{"content":"={{ $('Retrieve Page Content').item.json[\"plain_text\"] || \"\" }}"}]},"options":{"maxTokens":1024,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1980,-60],"id":"46c8d7d7-2294-4e4f-a2f3-f82515b59fd2","name":"Generate Comment","credentials":{"openAiApi":{"id":"xIoIQD1YApmoxCg1","name":"OpenAi account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('HTTP Request').item.json.results[0].parent.page_id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,-60],"id":"5b1d0b3b-1934-42af-98b0-e93e730bd52d","name":"Prepare Payload","disabled":true},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,-60],"id":"2888bf68-f104-45de-b5aa-96e4e67b449b","name":"Post Notion Comment","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $json.parent.page_id }}","strategyGPT":"={{$json.rich_text}}"},"matchingColumns":["NotionPageId"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,80],"id":"303c6de8-291b-4f7e-94ab-7ff2964d4946","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2420,340],"id":"4f9badc6-b670-4267-8896-5950fd3ea656","name":"Post Notion Comment1","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,340],"id":"3be14dfd-d038-4bff-acd2-91336e4bf66c","name":"Prepare Payload1"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/comments","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"parent\": {\n    \"page_id\": \"{{ $json.parent.page_id }}\"\n  },\n  \"rich_text\": [\n    {\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": {{ JSON.stringify($json.rich_text) }}\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,680],"id":"4970a26e-9a96-4b98-b28d-3b7418b7014a","name":"Post Notion Comment3","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5acadf62-2072-4a64-bfba-708836be61bc","name":"parent.page_id","value":"={{ $('Write new page to Manager_DB1').item.json.id }}","type":"string"},{"id":"4fe3c6cf-1b96-4a9e-8162-42977b879342","name":"rich_text","value":"={{ $('Extract Sheet Data').item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,680],"id":"77cf66a7-3f1f-4447-bd7b-9475e6e53b1c","name":"Prepare Payload3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1840,-60],"id":"7c9d6bf1-3995-437b-a580-49a7df374558","name":"Merge2","disabled":true},{"parameters":{"content":"# GPT Strategy","height":580,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1040,-300],"typeVersion":1,"id":"e67e136b-8d98-4d11-80ae-13250807f72c","name":"Sticky Note11","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5d0166b9-47c6-49ff-8266-29aaea5bdfc0","name":"chatId","value":"={{ $json.properties.TelegramChannelId.rich_text[0].text.content }}","type":"string"},{"id":"ea3c2d1c-3db4-4ed6-a87e-e7b49d525844","name":"masterName","value":"={{ $json.meta.masterName || $json.properties.Name.title[0].plain_text }}","type":"string"},{"id":"3700230c-9624-4a77-97ff-e2b58b0d096d","name":"masterPhone","value":"={{ $json.meta.masterPhone || $json.properties[\"Номер WhatsApp\"].phone_number }}","type":"string"},{"id":"1f0a471d-cdf2-41e3-8da6-e87ff66a9a9c","name":"formData","value":"={{ $(\"Google Sheets Trigger1\").item.json[\"Анкета\"] }}","type":"string"},{"id":"7df16021-5857-4fcf-a761-54b6fe9ac951","name":"commentText","value":"={ $(\"Extract Sheet Data\").item.json.commentText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1040],"id":"5f3a5076-17ed-4b12-a3f4-ef6832886b65","name":"Prepare Telegram Data"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=📌 *Новая заявка*\n--\n📝 *Данные анкеты*: {{ $json.formData }}\n--\n💡 *Комментарий GPT*: {{ $json.commentText }}","additionalFields":{},"path":"b60ebda4-e4fb-4dfe-882e-fb87f2449ba7"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,1040],"id":"3f1f5f86-796a-479f-8193-b3f98c3381d9","name":"Telegram","webhookId":"b60ebda4-e4fb-4dfe-882e-fb87f2449ba7","credentials":{"telegramApi":{"id":"y3cJ0RcFuvjBerIv","name":"Telegram account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"hot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"event":"rowUpdate","options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[100,540],"id":"899e1012-42dd-4160-8a43-a22e22eefc90","name":"Google Sheets Trigger1","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[380,-500],"id":"fa2e1375-0672-4084-a6e8-43798d8d6a7f","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add Data to Notion Master_DB","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract NotionPageId":{"main":[[{"node":"Return NotionPageId","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Pages","type":"main","index":0}]]},"Get Pages":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prepare for Manager Copy":{"main":[[{"node":"Get Managers ","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Add data to Manager_DB","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare for Manager Copy","type":"main","index":0}]]},"mngr1_upd":{"main":[[{"node":"Merge Updates","type":"main","index":0}]]},"mngr2_upd":{"main":[[{"node":"Merge Updates","type":"main","index":1}]]},"Extract Change":{"main":[[{"node":"Master Base Status Update","type":"main","index":0}]]},"Master Base Status Update":{"main":[[{"node":"GSheets Status Update","type":"main","index":0}]]},"Merge Updates":{"main":[[{"node":"Extract Change","type":"main","index":0}]]},"Get Managers ":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add data to Manager_DB":{"main":[[{"node":"Return managerItemId to Master_DB","type":"main","index":0}]]},"Add Data to Notion Master_DB":{"main":[[{"node":"Extract NotionPageId","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Extract NotionPageId1":{"main":[[{"node":"Return NotionPageId1","type":"main","index":0}]]},"Add Data to Notion Master_DB2":{"main":[[{"node":"Extract NotionPageId1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Add Data to Notion Master_DB2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Extract Sheet Data":{"main":[[{"node":"NewManagerExists","type":"main","index":0}]]},"Get Master Page":{"main":[[{"node":"Extract master properties","type":"main","index":0}]]},"Extract master properties":{"main":[[{"node":"Changed?","type":"main","index":0}]]},"Get Manager DB ID":{"main":[[{"node":"newManagerDatabaseId","type":"main","index":0}]]},"Changed?":{"main":[[{"node":"Get Manager DB ID","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}],[{"node":"Get Manager DB ID","type":"main","index":0}]]},"NewManagerExists":{"main":[[{"node":"Get Master Page","type":"main","index":0}]]},"newManagerDatabaseId":{"main":[[{"node":"Initial vs Reassign","type":"main","index":0}]]},"Initial vs Reassign":{"main":[[{"node":"Write new page to Manager_DB","type":"main","index":0}],[{"node":"Write new page to Manager_DB1","type":"main","index":0}]]},"NewManagerItemId":{"main":[[{"node":"Update NewManagerItemId -> MasterDB","type":"main","index":0}]]},"Write new page to Manager_DB":{"main":[[{"node":"NewManagerItemId","type":"main","index":0},{"node":"Prepare Payload1","type":"main","index":0}]]},"Update NewManagerItemId -> MasterDB":{"main":[[]]},"NewManagerItemId1":{"main":[[{"node":"Update NewManagerItemId -> MasterDB1","type":"main","index":0}]]},"Write new page to Manager_DB1":{"main":[[{"node":"Notion","type":"main","index":0},{"node":"Prepare Payload3","type":"main","index":0}]]},"Notion":{"main":[[{"node":"NewManagerItemId1","type":"main","index":0}]]},"Google Sheets Trigger2":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Prepare","type":"main","index":0}]]},"Prepare":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"PageUpdatedManager_2":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"PageUpdatedManager_1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Extract Change1","type":"main","index":0}]]},"Extract Change1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Notion Trigger":{"main":[[{"node":"Extract Data1","type":"main","index":0}]]},"Extract Data1":{"main":[[{"node":"Extract Sheets Data","type":"main","index":0}]]},"Extract Sheets Data":{"main":[[{"node":"Extract Sheets Status","type":"main","index":0}]]},"Extract Sheets Status":{"main":[[{"node":"Check Statuses","type":"main","index":0}]]},"Check Statuses":{"main":[[{"node":"Status Update","type":"main","index":0},{"node":"Exists in Manager DB?","type":"main","index":0}]]},"Exists in Manager DB?":{"main":[[{"node":"Retrieve data from ManagerDB","type":"main","index":0}]]},"Retrieve data from ManagerDB":{"main":[[{"node":"Check Old != New","type":"main","index":0}]]},"Check Old != New":{"main":[[{"node":"Update Manager DB Status","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Retrieve Page Content","type":"main","index":0}]]},"Retrieve Page Content":{"main":[[{"node":"Code2","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Code2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Generate Comment":{"main":[[{"node":"Prepare Payload","type":"main","index":0}]]},"Prepare Payload":{"main":[[{"node":"Post Notion Comment","type":"main","index":0},{"node":"Google Sheets3","type":"main","index":0}]]},"Prepare Payload1":{"main":[[{"node":"Post Notion Comment1","type":"main","index":0}]]},"Prepare Payload3":{"main":[[{"node":"Post Notion Comment3","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Generate Comment","type":"main","index":0}]]},"Prepare Telegram Data":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Extract Sheet Data","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":316,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=316&exportFormat=xlsx"},"node:mngr1_upd":{"lastTimeChecked":"2025-06-19T14:30:00.000Z","possibleDuplicates":["21729f44-8079-81b7-8bca-d0993ead9763"]},"node:mngr2_upd":{"lastTimeChecked":"2025-06-19T14:29:00.000Z","possibleDuplicates":["21729f44-8079-8127-b35b-c331738a90ff","21729f44-8079-813c-aecb-d16e3ef77432","21729f44-8079-81ab-934f-f5de95baa57a"]},"node:New Status":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":284,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=284&exportFormat=xlsx"},"node:Google Sheets Trigger1":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":573,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=573&exportFormat=xlsx"},"node:Google Sheets Trigger2":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":573,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=573&exportFormat=xlsx"},"node:PageUpdatedManager_1":{"lastTimeChecked":"2025-06-24T15:18:00.000Z","possibleDuplicates":["21929f44-8079-80f1-a21b-fabf09052cb3"]},"node:PageUpdatedManager_2":{"lastTimeChecked":"2025-06-24T15:18:00.000Z","possibleDuplicates":["21b29f44-8079-8071-9701-dc219f3009de","21b29f44-8079-80a5-884e-d49677f80e85"]},"node:Notion Trigger":{"lastTimeChecked":"2025-06-19T17:28:00.000Z","possibleDuplicates":["21729f44-8079-814e-b19e-edf0f4845ca5"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"13cf0b97-e7b1-4429-bde5-1291507294b4","triggerCount":3,"tags":[{"createdAt":"2025-06-16T13:27:47.896Z","updatedAt":"2025-06-16T13:27:47.896Z","id":"ZJAdwf6GKEChRG5R","name":"testing"}]}