leads-to-notion-main-vpdLd3rLAftiD5Yp.json
{"createdAt":"2025-06-18T10:28:06.428Z","updatedAt":"2025-06-18T11:56:57.000Z","id":"vpdLd3rLAftiD5Yp","name":"Leads to Notion Main","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead-submit","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,0],"id":"538819af-865a-4a4e-85a2-332d699a2d81","name":"Webhook","webhookId":"64b1b015-546e-4d01-a91d-eb2ba7421199","notesInFlow":true},{"parameters":{"jsCode":"const data = $json.body?.data || [];\nconst result = {};\n\n// $now — это строка в формате ISO, создаём объект даты\nconst nowUtc = new Date($now);\n\n// Смещение на +3 часа (в мс)\nconst nowMoscow = new Date(nowUtc.getTime() + 3 * 60 * 60 * 1000);\n\n// Форматируем как \"dd.mm.yyyy HH:MM:ss\"\nconst pad = (n) => String(n).padStart(2, '0');\nconst formattedNow = `${pad(nowMoscow.getDate())}.${pad(nowMoscow.getMonth() + 1)}.${nowMoscow.getFullYear()} ${pad(nowMoscow.getHours())}:${pad(nowMoscow.getMinutes())}:${pad(nowMoscow.getSeconds())}`;\nresult[\"Время получения\"] = formattedNow;\n\nfor (const item of data) {\n  switch (item.id) {\n    case 63:\n      result[\"Конкурентное преимущество\"] = item.value;\n      break;\n    case 92:\n      result[\"Имя\"] = item.value;\n      break;\n    case 74:\n      result[\"Телефон\"] = String(item.value);\n      break;\n    case 78:\n      result[\"Мессенджер\"] = item.value;\n      break;\n    case 66:\n      result[\"Точка роста\"] = item.value;\n      break;\n    case 88:\n      result[\"Регион покрытия\"] = item.value;\n      break;\n    case 89:\n      result[\"Флагманская услуга/продукт?\"] = item.value;\n      break;\n    case 90:\n      result[\"Желаемое количество клиентов\"] = item.value;\n      break;\n    case 93:\n      result[\"Срочность\"] = item.value;\n      break;\n    default:\n      break;\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,0],"id":"d1246fdd-ddcf-48e9-bbbb-6ffd9a2bdcc5","name":"Code","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2075981978,"mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=2075981978"},"columns":{"mappingMode":"autoMapInputData","value":{"Дата и время":"={{ $json['Время и дата'] }}","Точка роста":"={{ $json['Точка роста'] }}","Срочность":"={{ $json['Срочность'] }}","Имя":"={{ $json['Имя'] }}","Телефон":"={{ $json['Телефон'] }}","Мессенджер":"={{ $json['Мессенджер'] }}","Регион покрытия":"={{ $json['Регион покрытия'] }}","Флагманская услуга/продукт?":"={{ $json['Флагманская услуга/продукт?'] }}","Желаемое количество клиентов":"={{ $json['Желаемое количество клиентов'] }}","Конкурентное преимущество":"={{ $json['Конкурентное преимущество'] }}"},"matchingColumns":[],"schema":[{"id":"Дата и время","displayName":"Дата и время","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Телефон","displayName":"Телефон","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Мессенджер","displayName":"Мессенджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,0],"id":"a6819132-e93c-4bc0-8a65-4d301a2ca54f","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc75bc16-14fb-45f3-ae2e-c12fa8a7cc56","leftValue":"={{ $json['Менеджер'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2d6f2d95-232d-4bec-bed4-4cec2b468327","leftValue":"={{$json[\"NotionPageId\"]}}","rightValue":0,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,340],"id":"ccae82b5-da43-4785-b79b-99ee4bf343c3","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"bc80c047-49e5-4933-a687-eb62e23d2949","name":"Имя","value":"={{ $json['Имя']}}","type":"string"},{"id":"0cba98b1-11ce-4ed8-a361-f14a623ee13e","name":"Номер WhatsApp","value":"={{ $json['Телефон WhatsApp'] }}","type":"string"},{"id":"888b79f0-aa61-443d-a92d-00a40aed8d91","name":"Менеджер","value":"={{ $json['Менеджер'] }}","type":"string"},{"id":"da33e2a3-bacd-4027-9b89-23f34c798454","name":"rowIndex","value":"={{ $json.rowNumber }}","type":"string"},{"id":"e58f9c4c-eea5-441a-a3c4-32b249af3fb6","name":"Анкета","value":"={{ $json['Анкета'] }}","type":"string"},{"id":"58257032-82a5-4f47-b013-354a007a31cb","name":"Статус","value":"={{ $json[\"Статус\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,340],"id":"1ff533cf-e00b-4076-93f3-f64563732f9a","name":"Edit Fields"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"options":{"columnsToWatch":["Менеджер"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-340,340],"id":"4787ba9a-003c-4474-beb4-e81d842185f7","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"LUC9Fi2uvCbgH7UM","name":"Google Sheets Trigger account Maxim"}}},{"parameters":{"assignments":{"assignments":[{"id":"b4eabd38-cc52-455e-a0f5-e32c272c839f","name":"notionPageId","value":"={{ $json.id }}","type":"string"},{"id":"ee091279-9cb9-4352-aaa8-17d2427242e0","name":"notionStatus","value":"={{ $('Edit Fields').item.json['Статус'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,340],"id":"99690136-fb45-4b0b-8cec-f6697c079477","name":"Extract NotionPageId"},{"parameters":{"content":"### Google Sheets -> Notion Master Base","height":480,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[-400,220],"typeVersion":1,"id":"f9d6d4d0-8dfa-47ec-a33d-55c68ac8dcad","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-360,900],"id":"c801e5ff-55f6-4a28-97f0-3d083e857995","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"managerItemId|rich_text","condition":"is_empty"},{"key":"Manager|select","condition":"is_not_empty"},{"key":"Status|status","condition":"equals","statusValue":"Новая заявка (с чата)"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-220,900],"id":"599acc00-dbaf-4dc3-9692-4aae9cd33e25","name":"Get Pages","notesInFlow":true,"credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f86b2a1b-3549-4f99-af93-d04a1bbd99f8","name":"masterItemId","value":"={{ $json.id }}","type":"string"},{"id":"6be9f7fe-f749-46f0-9325-5470b148df04","name":"Менеджер","value":"={{ $json.property_manager }}","type":"string"},{"id":"1850081b-4556-4e63-90ed-08d30e062925","name":"rowIndex","value":"={{ $json.property_row_index }}","type":"string"},{"id":"cb542d87-535a-4016-825b-9a50e38512a4","name":"Статус","value":"Новая заявка (с чата)","type":"string"},{"id":"0b4814e6-ecc7-4c63-a3f8-350b8ef6664d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"d1eec5b1-aa70-4c5f-8e75-d83be3ef35d8","name":"Номер WhatsApp","value":"={{ $json.property_whats_app }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,900],"id":"f11d264d-4fe6-45d5-b46c-62b91893a7cb","name":"Prepare for Manager Copy"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[380,880],"id":"1ed36b55-f604-4eb4-bd2d-10d360321bbc","name":"Merge"},{"parameters":{"fieldToSplitOut":"id, name, url, property_created_at, property_row_index, property_updated_at, property_manager, property_whats_app, property_manager_item_id, property_","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-80,900],"id":"49755200-3bf4-40c5-b0f0-d3f4ea4dc625","name":"Split Out"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21229f44-8079-8007-bf20-f92ac31827a2","mode":"list","cachedResultName":"Менеджер 1","cachedResultUrl":"https://www.notion.so/21229f4480798007bf20f92ac31827a2"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-340,1300],"id":"87cf1eb2-6672-4421-ab5e-5baa724646eb","name":"mngr1_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"21429f44-8079-817d-a96d-dad34891359b","mode":"list","cachedResultName":"Менеджер 2 ","cachedResultUrl":"https://www.notion.so/21429f448079817da96ddad34891359b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-340,1460],"id":"8a94e694-e6b1-487a-90d3-ecbeb75779a1","name":"mngr2_upd","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5bad816a-7e4c-4cae-80fb-3cde9a893025","name":"masterItemId","value":"={{ $json.masterItemId }}","type":"string"},{"id":"05ef8c41-d6a0-4f82-a5b0-17449df80518","name":"rowIndex","value":"={{ $json.rowIndex }}","type":"string"},{"id":"ba2c40bd-8033-4a03-801a-f97f13b3b080","name":"newStatus","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1380],"id":"519044b3-fdd5-42cc-9c55-0389d1697fbc","name":"Extract Change"},{"parameters":{"content":"## Iteratively Add Data to Manager DB","height":460,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-460,740],"typeVersion":1,"id":"0008e1a6-4061-466c-b091-12ca186df494","name":"Sticky Note1"},{"parameters":{"content":"## Update status Manager_DB -> Master_DB -> GSheets","height":420,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[-420,1240],"typeVersion":1,"id":"af3831e7-b14c-456b-8f99-9f01085429d7","name":"Sticky Note2"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"21629f44-8079-819d-a6f3-d1ea95e5336f","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Status|status","statusValue":"={{ $json.newStatus }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[240,1380],"id":"026c3134-0811-4364-90ab-3f838effbe83","name":"Master Base Status Update","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"rowNumber":"={{ $json.property_row_index }}","Статус":"={{ $json.property_status }}"},"matchingColumns":["rowNumber"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[460,1380],"id":"4c74985e-428c-4b83-b7cc-1e63ae8a7a08","name":"GSheets Status Update","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-160,1380],"id":"51aad414-d52c-4118-8f26-d9711eed7c17","name":"Merge Updates"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21629f44-8079-8063-8192-e13dce9c08ca","mode":"list","cachedResultName":"Статистика лиды конектор","cachedResultUrl":"https://www.notion.so/21629f44807980638192e13dce9c08ca"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Имя Менеджера|title","condition":"equals","titleValue":"={{ $json[\"Менеджер\"] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[220,780],"id":"0c07a9b1-3507-4e0f-bd69-58a3e9255069","name":"Get Managers ","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"={{ $json.property_id }}","mode":"id"},"title":"={{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $json[\"Статус\"] }}"},{"key":"=masterItemId|rich_text","textContent":"={{ $json.masterItemId }}"},{"key":"=rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"=Номер WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"},{"key":"=Name|title","title":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[560,880],"id":"d0a7ac34-f208-49e3-894f-1b27e29d8476","name":"Add data to Manager_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1001057162,"mode":"list","cachedResultName":"set_manager","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1001057162"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Add Data to Notion Master_DB').item.json.property_row_index }}","Статус":"={{ $json.notionStatus }}","NotionPageId":"={{ $json.notionPageId }}"},"matchingColumns":["row_number"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GPT стратегия","displayName":"GPT стратегия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,340],"id":"d9ac358b-469d-444e-8d7f-8178353e74b7","name":"Return NotionPageId","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"21629f44-8079-8142-8212-dec818b705f6","mode":"list","cachedResultName":"Лиды все","cachedResultUrl":"https://www.notion.so/21629f44807981428212dec818b705f6"},"title":"={{ $json['Имя'] }}","propertiesUi":{"propertyValues":[{"key":"Manager|select","selectValue":"={{ $json['Менеджер'] }}"},{"key":"Status|status","statusValue":"={{ $json['Статус'] }}"},{"key":"rowIndex|rich_text","textContent":"={{ $json.rowIndex }}"},{"key":"Телефон WhatsApp|phone_number","phoneValue":"={{ $json[\"Номер WhatsApp\"] }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json['Анкета'] }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[200,340],"id":"85317f3e-3fa3-4dfc-9e83-2f12a0d7ddb2","name":"Add Data to Notion Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Merge').item.json.masterItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=managerItemId|rich_text","textContent":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[740,880],"id":"1d29dad5-c024-4acc-88bd-2537c363ee33","name":"Return managerItemId to Master_DB","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add Data to Notion Master_DB","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract NotionPageId":{"main":[[{"node":"Return NotionPageId","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Pages","type":"main","index":0}]]},"Get Pages":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prepare for Manager Copy":{"main":[[{"node":"Get Managers ","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Add data to Manager_DB","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Prepare for Manager Copy","type":"main","index":0}]]},"mngr1_upd":{"main":[[{"node":"Merge Updates","type":"main","index":0}]]},"mngr2_upd":{"main":[[{"node":"Merge Updates","type":"main","index":1}]]},"Extract Change":{"main":[[{"node":"Master Base Status Update","type":"main","index":0}]]},"Master Base Status Update":{"main":[[{"node":"GSheets Status Update","type":"main","index":0}]]},"Merge Updates":{"main":[[{"node":"Extract Change","type":"main","index":0}]]},"Get Managers ":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add data to Manager_DB":{"main":[[{"node":"Return managerItemId to Master_DB","type":"main","index":0}]]},"Add Data to Notion Master_DB":{"main":[[{"node":"Extract NotionPageId","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","sheetId":1001057162,"lastRevision":58,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU&revision=58&exportFormat=xlsx"},"node:Notion Trigger":{"lastTimeChecked":"2025-06-17T18:13:00.000Z"},"node:mngr1_upd":{"lastTimeChecked":"2025-06-18T11:55:00.000Z","possibleDuplicates":["21629f44-8079-81c3-8bef-e1a823739c97"]},"node:mngr2_upd":{"lastTimeChecked":"2025-06-18T11:55:00.000Z","possibleDuplicates":["21629f44-8079-8198-8e1f-e9d9cdae6a7b","21629f44-8079-8197-82e6-c6a49ce308a3"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69ac9230-489d-4c21-9603-caa923971c09","triggerCount":5,"tags":[{"createdAt":"2025-06-16T13:27:47.896Z","updatedAt":"2025-06-16T13:27:47.896Z","id":"ZJAdwf6GKEChRG5R","name":"testing"}]}