sync_status-qj64o0c8FKnoTVBF.json
{"createdAt":"2025-06-19T15:38:17.683Z","updatedAt":"2025-06-27T14:29:28.000Z","id":"qj64o0c8FKnoTVBF","name":"Sync_status","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b90fb346-e5a4-423b-922d-e322d34ccdf5","leftValue":"={{$('Start').item.json.managerItemId}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2040,980],"id":"83d8ed7b-58d6-47b7-a734-f6d186f6a2ee","name":"ManagerItemId exists?"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{$('Start').item.json.masterItemId}}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{ $('Start').item.json.newStatus }}"},{"key":"=Segment|select","selectValue":"=  {{ $('Start').item.json.newSegment }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1880,980],"id":"41db6495-0810-4a18-9155-dd0ddb30bd68","name":"UpdateMasterPage","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2480,1180],"id":"34c5bef7-4203-4b3e-b8d5-93aa579b50a9","name":"No Operation, do nothing"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU","mode":"list","cachedResultName":"тест редактура Даниил","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492369066,"mode":"list","cachedResultName":"hot (копия)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1IwKUuPF_liWFGQ5hiPp5iqOiI7hjj73Qg0n6h1ujteU/edit#gid=1492369066"},"columns":{"mappingMode":"defineBelow","value":{"NotionPageId":"={{ $('Start').item.json.masterItemId }}","Статус":"={{$('Start').item.json.newStatus}}","Сегмент":"={{$('Start').item.json.newSegment}}"},"matchingColumns":["NotionPageId"],"schema":[{"id":"rowNumber","displayName":"rowNumber","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Время получения","displayName":"Время получения","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Имя","displayName":"Имя","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Регион покрытия","displayName":"Регион покрытия","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Флагманская услуга/продукт?","displayName":"Флагманская услуга/продукт?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Желаемое количество клиентов","displayName":"Желаемое количество клиентов","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Конкурентное преимущество","displayName":"Конкурентное преимущество","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Точка роста","displayName":"Точка роста","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Срочность","displayName":"Срочность","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Анкета","displayName":"Анкета","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"strategyGPT","displayName":"strategyGPT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Телефон WhatsApp","displayName":"Телефон WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Менеджер","displayName":"Менеджер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Сегмент","displayName":"Сегмент","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NotionPageId","displayName":"NotionPageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2240,1180],"id":"9952721e-65a3-4e96-8a25-bdae0347124d","name":"UpdateTableStatus","credentials":{"googleSheetsOAuth2Api":{"id":"FnHnZlaKEOSySRIh","name":"Google Sheets account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Start').item.json.managerItemId }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"=Status|status","statusValue":"={{$('Start').item.json.newStatus}}"},{"key":"=Segment|select","selectValue":"={{$('Start').item.json.newSegment}}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2040,1180],"id":"15fc68f3-c995-470e-8d59-5968763f6d4d","name":"UpdateManagerPage","credentials":{"notionApi":{"id":"PJDCLQVnttqLqUhT","name":"Notion account"}}},{"parameters":{"content":"## Sync Status","height":560,"width":600},"type":"n8n-nodes-base.stickyNote","position":[1820,860],"typeVersion":1,"id":"130078e8-e22c-472c-a435-5b43765aebe8","name":"Sticky Note7"},{"parameters":{"inputSource":"passthrough"},"id":"89ca2b49-f36f-483f-8bd7-81d04c8fff28","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1600,980]}],"connections":{"ManagerItemId exists?":{"main":[[{"node":"UpdateManagerPage","type":"main","index":0}]]},"UpdateTableStatus":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"UpdateMasterPage":{"main":[[{"node":"ManagerItemId exists?","type":"main","index":0}]]},"UpdateManagerPage":{"main":[[{"node":"UpdateTableStatus","type":"main","index":0}]]},"Start":{"main":[[{"node":"UpdateMasterPage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"aea2debd-949a-45a8-910d-d695f17809b0","triggerCount":0,"tags":[]}